azure.app.client.id: ${local.client.id}
azure.app.client.secret: ${local.client.secret}
ALTINN_URL: https://tt02.altinn.no

altinn.api.url: dummy
altinn.api.key: dummy
altinn.service.code: dummy
altinn.service.edition: dummy

MASKINPORTEN_CLIENT_ID: dummy
MASKINPORTEN_CLIENT_JWK: dummy
MASKINPORTEN_SCOPES: dummy
MASKINPORTEN_WELL_KNOWN_URL: dummy

spring:
  flyway:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  security:
    oauth2:
      resourceserver:
        tokenx:
          TOKEN_X_CLIENT_ID: dev-gcp:dolly:testnav-organisasjon-tilgang-service