apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-person-api-dev
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  webproxy: true
  azure:
    application:
      enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: testnorge-opprett-person-pdl
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: orkestratoren
        - application: testnorge-oversikt-frontend
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 4000Mi
    limits:
      cpu: 500m
      memory: 5000Mi
  ingresses:
    - "https://testnorge-person-api-dev.dev.adeo.no"
    - "https://testnorge-person-api-dev.dev.intern.nav.no"