spring:
  application:
    name: testnav-dolly-proxy
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          httpclient:
            response-timeout: 1200s
  config:
    import: "dolly-application.yml"
  main:
    web-application-type: reactive
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}

app:
  fakedings:
    url: https://fakedings.intern.dev.nav.no
  pdl:
    elastic:
      username: ${ELASTIC_USERNAME}
      password: ${ELASTIC_PASSWORD}
    hendelse:
      apikey: ${HENDELSE_LAGER_API_KEY}
  targets:
    aareg-services: https://aareg-services-%s.dev.intern.nav.no # Note replacement pattern.
    aareg-vedlikehold: https://aareg-dolly-api-%s.intern.dev.nav.no # Note replacement pattern.
    arena-forvalteren: http://arena-forvalteren.teamarenanais.svc.nais.local/
    arena-ords: http://arena-ords-%s.teamarenanais.svc.nais.local # Note replacement pattern.
    batch: https://batch.adeo.no
    brregstub: http://brreg-stub.dolly
    dokarkiv: http://dokarkiv%s.teamdokumenthandtering.svc.nais.local # Note replacement pattern.
    ereg: https://ereg-services-%s.dev.intern.nav.no # Note replacement pattern.
    fullmakt: http://repr-fullmakt.repr.svc.nais.local
    histark: https://histarkimport.dev.intern.nav.no
    inntektstub: http://inntektstub.team-inntekt
    inst: http://opphold-testdata.team-rocket.svc.nais.local
    kontoregister: https://sokos-kontoregister-person.intern.dev.nav.no
    krrstub: https://digdir-krr-stub.intern.dev.nav.no
    medl: https://medlemskap-medl-testdata.intern.dev.nav.no
    norg2: http://norg2.org.svc.nais.local
    pdl-api: http://pdl-api.pdl.svc.nais.local
    pdl-api-q1: http://pdl-api-q1.pdl.svc.nais.local
    pdl-elastic: https://pdl-es-q.adeo.no
    pdl-identhendelse: http://pdl-identhendelse-lager.pdl.svc.nais.local
    pdl-testdata: http://pdl-testdata.pdl.svc.nais.local
    pensjon: http://pensjon-testdata-facade.pensjontestdata
    pensjon-afp: https://pensjon-afp-offentlig-mock-%s.intern.dev.nav.no # Note replacement pattern.
    pensjon-samboer: https://pensjon-samboerforhold-backend-%s.intern.dev.nav.no # Note replacement pattern.
    saf: http://saf%s.teamdokumenthandtering.svc.nais.local # Note replacement pattern.
    sigrunstub: http://sigrun-skd-stub.team-inntekt.svc.nais.local
    skjermingsregister: https://skjermede-personer.dev.adeo.no
    udistub: http://testnav-udi-stub.dolly