spring:
  application:
    name: testnav-dolly-proxy
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          httpclient:
            response-timeout: 1200s
  config:
    import: "dolly-application.yml"
  main:
    web-application-type: reactive
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}

springdoc:
  api-docs:
    enabled: true # Explicitly set to avoid warning during startup.
  swagger-ui:
    enabled: true # Explicitly set to avoid warning during startup.
    urls:
# Not working due to CORS.
#      - name: histark
#        url: https://histarkimport.teamdokumenthandtering/v3/api-docs
#      - name: inntektstub
#        url: http://inntektstub.team-inntekt/v3/api-docs/a-ordningen%20api
    urls-primary-name: Downstream Services


app:
  fakedings:
    url: https://fakedings.intern.dev.nav.no
  targets:
    ereg: https://ereg-services-%s.dev.intern.nav.no # Note replacement pattern.
    fullmakt: https://repr-fullmakt.intern.dev.nav.no
    histark: https://histarkimport.dev.intern.nav.no
    inntektstub: http://inntektstub.team-inntekt
    inst: http://opphold-testdata.team-rocket.svc.nais.local
    kontoregister: https://sokos-kontoregister-person.intern.dev.nav.no
    krrstub: https://digdir-krr-stub.intern.dev.nav.no
    sigrunstub: http://sigrun-skd-stub.team-inntekt.svc.nais.local
    skjermingsregister: https://skjermede-personer.dev.adeo.no
    udistub: http://testnav-udi-stub.dolly
