POST_LOGOUT_REDIRECT_URI: 'http://localhost:3000/login'

server:
  port: 8020

spring:
  config:
    import: "sm://"
  data:
    redis:
      host: localhost
      port: 6379
      username: not_in_use
      password: not_in_use
  security:
    oauth2:
      client:
        registration:
          aad:
            authorization-grant-type: authorization_code
            redirect-uri: 'http://localhost:3000/login/oauth2/code/{registrationId}'
            scope: openid, offline_access,  ${AZURE_APP_CLIENT_ID}/.default
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
        provider:
          aad:
            issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}

consumers:
  testnav-altinn3-tilgang-service:
    cluster: dev-gcp
    name: testnav-altinn3-tilgang-service
    url: https://testnav-altinn3-tilgang-service.intern.dev.nav.no
  dolly-backend:
    name: dolly-backend-dev
    url: https://dolly-backend-dev.intern.dev.nav.no
    cluster: dev-gcp
  testnorge-profil-api:
    name: testnorge-profil-api-dev
    url: https://testnorge-profil-api-dev.intern.dev.nav.no
  testnav-varslinger-service:
    name: testnav-varslinger-service-dev
    url: https://testnav-varslinger-service-dev.intern.dev.nav.no
  oppsummeringsdokument-service:
    url: https://testnav-oppsummeringsdokument-service.intern.dev.nav.no
  testnav-bruker-service:
    name: testnav-bruker-service-dev
    url: https://testnav-bruker-service-dev.intern.dev.nav.no
  testnav-pdl-forvalter:
    name: testnav-pdl-forvalter-dev
    url: https://testnav-pdl-forvalter-dev.intern.dev.nav.no
  testnav-tps-messaging-service:
    url: https://testnav-tps-messaging-service.intern.dev.nav.no
  testnav-organisasjon-faste-data-service:
    url: https://testnav-organisasjon-faste-data-service.intern.dev.nav.no
  testnav-joark-dokument-service:
    url: https://testnav-joark-dokument-service.intern.dev.nav.no
  testnav-organisasjon-forvalter:
    url: https://testnav-organisasjon-forvalter.intern.dev.nav.no
  testnav-organisasjon-service:
    url: https://testnav-organisasjon-service.intern.dev.nav.no
  testnav-miljoer-service:
    url: https://testnav-miljoer-service.intern.dev.nav.no
  testnav-dolly-search-service:
    name: testnav-dolly-search-service-dev
    url: https://testnav-dolly-search-service-dev.intern.dev.nav.no
  testnav-adresse-service:
    url: https://testnav-adresse-service.intern.dev.nav.no
  testnorge-tilbakemelding-api:
    url: https://testnorge-tilbakemelding-api.intern.dev.nav.no
  testnav-helsepersonell-service:
    url: https://testnav-helsepersonell-service.intern.dev.nav.no
  generer-navn-service:
    url: https://generer-navn-service.intern.dev.nav.no
  testnav-person-service:
    url: https://testnav-person-service.intern.dev.nav.no
  testnav-kodeverk-service:
    url: https://testnav-kodeverk-service.intern.dev.nav.no/
  testnav-tenor-search-service:
    url: https://testnav-tenor-search-service.intern.dev.nav.no
  testnav-skattekort-service:
    url: https://testnav-skattekort-service.intern.dev.nav.no
  testnav-levende-arbeidsforhold-ansettelse:
    url: https://testnav-levende-arbeidsforhold-ansettelse.intern.dev.nav.no
  testnav-levende-arbeidsforhold-scheduler:
    url: https://testnav-levende-arbeidsforhold-scheduler.intern.dev.nav.no
  testnav-yrkesskade-proxy:
    url: https://testnav-yrkesskade-proxy.intern.dev.nav.no
  testnav-sykemelding-api:
    name: testnav-sykemelding-api-dev
    url: https://testnav-sykemelding-api-dev.intern.dev.nav.no
  testnav-arbeidssoekerregisteret-proxy:
    url: https://testnav-arbeidssoekerregisteret-proxy.intern.dev.nav.no
  testnav-sykemelding-proxy:
    url: https://testnav-sykemelding-proxy.intern.dev.nav.no
  testnav-api-oversikt-service:
    url: https://testnav-oversikt-service.intern.dev.nav.no
  testnav-nom-proxy:
    url: https://testnav-nom-proxy.intern.dev.nav.no
  testnav-ident-pool:
    url: https://testnav-ident-pool.intern.dev.nav.no
  testnav-arbeidsplassencv-proxy:
    url: https://testnav-arbeidsplassencv-proxy.intern.dev.nav.no
