POST_LOGOUT_REDIRECT_URI: https://dolly-frontend.intern.dev.nav.no/login

spring:
  application:
    name: dolly-frontend
    allow-circular-references: true
  config:
    import: "dolly-application.yml"
  data:
    redis:
      host: ${VALKEY_HOST_SESSION}
      port: ${VALKEY_PORT_SESSION}
      username: ${VALKEY_USERNAME_SESSION}
      password: ${VALKEY_PASSWORD_SESSION}
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience: ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}

consumers:
  testnav-altinn3-tilgang-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-altinn3-tilgang-proxy
    url: http://testnav-altinn3-tilgang-proxy.dolly.svc.cluster.local
  testnav-tps-messaging-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-tps-messaging-service
    url: http://testnav-tps-messaging-service.dolly.svc.cluster.local
  testnav-organisasjon-faste-data-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-faste-data-service
    url: http://testnav-organisasjon-faste-data-service.dolly.svc.cluster.local
  oppsummeringsdokument-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-oppsummeringsdokument-service
    url: http://testnav-oppsummeringsdokument-service.dolly.svc.cluster.local
  testnav-joark-dokument-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-joark-dokument-service
    url: http://testnav-joark-dokument-service.dolly.svc.cluster.local
  testnav-aareg-proxy:
    cluster: dev-fss
    namespace: dolly
    name: testnav-aareg-proxy
    url: https://testnav-aareg-proxy.dev-fss-pub.nais.io
  testnav-medl-proxy:
    cluster: dev-fss
    namespace: dolly
    name: testnav-medl-proxy
    url: https://testnav-medl-proxy.dev-fss-pub.nais.io
  testnav-dolly-proxy:
    cluster: dev-fss
    namespace: dolly
    name: testnav-dolly-proxy
    url: https://testnav-dolly-proxy.dev-fss-pub.nais.io
  testnav-norg2-proxy:
    cluster: dev-fss
    namespace: dolly
    name: testnav-norg2-proxy
    url: https://testnav-norg2-proxy.dev-fss-pub.nais.io
  testnav-arena-forvalteren-proxy:
    cluster: dev-fss
    namespace: dolly
    name: testnav-arena-forvalteren-proxy
    url: https://testnav-arena-forvalteren-proxy.dev-fss-pub.nais.io
  dolly-backend:
    cluster: dev-gcp
    namespace: dolly
    name: dolly-backend
    url: http://dolly-backend.dolly.svc.cluster.local
  testnorge-profil-api:
    cluster: dev-gcp
    namespace: dolly
    name: testnorge-profil-api
    url: http://testnorge-profil-api.dolly.svc.cluster.local
  testnav-varslinger-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-varslinger-service
    url: http://testnav-varslinger-service.dolly.svc.cluster.local
  testnav-organisasjon-forvalter:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-forvalter
    url: http://testnav-organisasjon-forvalter.dolly.svc.cluster.local
  testnav-organisasjon-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-service
    url: http://testnav-organisasjon-service.dolly.svc.cluster.local
  testnav-miljoer-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-miljoer-service
    url: http://testnav-miljoer-service.dolly.svc.cluster.local
  testnav-dolly-search-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-dolly-search-service
    url: http://testnav-dolly-search-service.dolly.svc.cluster.local
  testnav-person-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-person-service
    url: http://testnav-person-service.dolly.svc.cluster.local
  testnav-adresse-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-adresse-service
    url: http://testnav-adresse-service.dolly.svc.cluster.local
  testnorge-tilbakemelding-api:
    cluster: dev-gcp
    namespace: dolly
    name: testnorge-tilbakemelding-api
    url: http://testnorge-tilbakemelding-api.dolly.svc.cluster.local
  testnav-bruker-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-bruker-service
    url: http://testnav-bruker-service.dolly.svc.cluster.local
  testnav-pdl-forvalter:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-pdl-forvalter
    url: http://testnav-pdl-forvalter.dolly.svc.cluster.local
  testnav-helsepersonell-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-helsepersonell-service
    url: http://testnav-helsepersonell-service.dolly.svc.cluster.local
  generer-navn-service:
    cluster: dev-gcp
    namespace: dolly
    name: generer-navn-service
    url: http://generer-navn-service.dolly.svc.cluster.local
  testnav-dokarkiv-proxy:
    name: testnav-dokarkiv-proxy
    namespace: dolly
    url: https://testnav-dokarkiv-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-arbeidsplassencv-proxy:
    name: testnav-arbeidsplassencv-proxy
    namespace: dolly
    url: http://testnav-arbeidsplassencv-proxy.dolly.svc.cluster.local
    cluster: dev-gcp
  testnav-sykemelding-proxy:
    name: testnav-sykemelding-proxy
    namespace: dolly
    url: http://testnav-sykemelding-proxy.dolly.svc.cluster.local
    cluster: dev-gcp
  testnav-kodeverk-service:
    name: testnav-kodeverk-service
    namespace: dolly
    url: http://testnav-kodeverk-service.dolly.svc.cluster.local
    cluster: dev-gcp
  testnav-tenor-search-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-tenor-search-service
    url: http://testnav-tenor-search-service.dolly.svc.cluster.local
  testnav-skattekort-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-skattekort-service
    url: http://testnav-skattekort-service.dolly.svc.cluster.local
  testnav-levende-arbeidsforhold-ansettelse:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-levende-arbeidsforhold-ansettelse
    url: http://testnav-levende-arbeidsforhold-ansettelse.dolly.svc.cluster.local
  testnav-levende-arbeidsforhold-scheduler:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-levende-arbeidsforhold-scheduler
    url: http://testnav-levende-arbeidsforhold-scheduler.dolly.svc.cluster.local
  testnav-yrkesskade-proxy:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-yrkesskade-proxy
    url: http://testnav-yrkesskade-proxy.dolly.svc.cluster.local
  testnav-sykemelding-api:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-sykemelding-api
    url: http://testnav-sykemelding-api.dolly.svc.cluster.local
  testnav-arbeidssoekerregisteret-proxy:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-arbeidssoekerregisteret-proxy
    url: http://testnav-arbeidssoekerregisteret-proxy.dolly.svc.cluster.local
  testnav-api-oversikt-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-api-oversikt-service
    url: http://testnav-api-oversikt-service.dolly.svc.cluster.local
  testnav-nom-proxy:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-nom-proxy
    url: http://testnav-nom-proxy.dolly.svc.cluster.local
  testnav-ident-pool:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-ident-pool
    url: http://testnav-ident-pool.dolly.svc.cluster.local

server:
  max-http-request-header-size: 128KB

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    org.springframework.boot.autoconfigure.security.reactive.ReactiveUserDetailsServiceAutoConfiguration: OFF
