azure.app.client.id: ${local.client.id}
azure.app.client.secret: ${local.client.secret}

server:
  port: 8020

spring:
  redis:
    host: localhost
    port: 6379
  security:
    oauth2:
      client:
        registration:
          idporten:
            client-id: ${IDPORTEN_CLIENT_ID}
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            post-logout-redirect-uri: ${POST_LOGOUT_REDIRECT_URI}
            scope: openid
            client-authentication-method: private_key_jwt
          aad:
            client-id: ${azure.app.client.id}
            client-secret: ${azure.app.client.secret}
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            scope: openid, offline_access, ${azure.app.client.id}/.default
        provider:
          aad:
            authorization-uri: ${AAD_ISSUER_URI}/oauth2/v2.0/authorize
            token-uri: ${AAD_ISSUER_URI}/oauth2/v2.0/token
            jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          idporten:
            issuer-uri: ${IDPORTEN_ISSUER_DEV_URI}

POST_LOGOUT_REDIRECT_URI: 'http://localhost:3000/login'

consumers:
  tps-forvalteren-proxy:
    name: tps-forvalteren-dev-proxy
    url: https://tps-forvalteren-dev-proxy.dev-fss-pub.nais.io
  dolly-backend:
    name: dolly-backend-dev
    url: https://dolly-backend-dev.dev.intern.nav.no
    cluster: dev-gcp
  testnorge-profil-api:
    name: testnorge-profil-api-dev
    url: https://testnorge-profil-api-dev.dev.intern.nav.no
  testnav-varslinger-service:
    name: testnav-varslinger-service-dev
    url: https://testnav-varslinger-service-dev.dev.intern.nav.no
  testnav-person-organisasjon-tilgang-service:
    name: testnav-person-organisasjon-tilgang-service-dev
    url: https://testnav-person-organisasjon-tilgang-service-dev.dev.intern.nav.no
  testnav-bruker-service:
    name: testnav-bruker-service-dev
    url: https://testnav-bruker-service-dev.dev.intern.nav.no
  testnav-pdl-forvalter:
    name: testnav-pdl-forvalter-dev
    url: https://testnav-pdl-forvalter-dev.dev.intern.nav.no
