<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod,dev,idporten">
        <include resource="logback-spring-prod.xml"/>
    </springProfile>

    <springProfile name="local">
        <include resource="logback-spring-local.xml"/>
    </springProfile>
</configuration>