---
apiVersion: nais.io/v1
kind: AzureAdApplication
metadata:
  name: testnav-synthdata-meldekort-proxy-nav
  namespace: dolly
  labels:
    team: dolly
spec:
  secretName: azure-nav-testnav-synthdata-meldekort-proxy-nav
  secretKeyPrefix: "AZURE_NAV"
  azure:
    application:
      enabled: true
      tenant: nav.no
---
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-synthdata-meldekort-proxy
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{image}}
  port: 8080
  webproxy: true
  azure:
    application:
      enabled: true
      tenant: trygdeetaten.no
  accessPolicy:
    inbound:
      rules:
        - application: arena-forvalteren
          namespace: teamarenanais
          cluster: dev-fss
    outbound:
      rules:
        - application: synthdata-arena-meldekort
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  envFrom:
    - secret: azure-nav-testnav-synthdata-meldekort-proxy-nav
  ingresses:
    - "https://testnav-synthdata-meldekort-proxy.dev.intern.nav.no"