---
apiVersion: nais.io/v1
kind: AzureAdApplication
metadata:
  name: testnav-synthdata-meldekort-proxy-nav
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
  labels:
    team: dolly
spec:
  secretName: azure-nav-testnav-synthdata-meldekort-proxy-nav
  secretKeyPrefix: "AZURE_NAV"
  tenant: nav.no
---
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-synthdata-meldekort-proxy
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  webproxy: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: trygdeetaten.no
  accessPolicy:
    inbound:
      rules:
        - application: arena-forvalteren
          namespace: teamarenanais
          cluster: dev-fss
        - application: arena-forvalteren-u1
          namespace: teamarenanais
          cluster: dev-fss
        - application: ida
          namespace: traktor
          cluster: prod-fss
    outbound:
      rules:
        - application: synthdata-arena-meldekort
        - application: logging
          namespace: nais-system
      external:
        - host: synthdata-arena-meldekort.intern.dev.nav.no
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  replicas:
    min: 1
    max: 2
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  envFrom:
    - secret: azure-nav-testnav-synthdata-meldekort-proxy-nav
  ingresses:
    - "https://testnav-synthdata-meldekort-proxy.intern.dev.nav.no"
