apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-oversikt-frontend
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  tokenx:
    enabled: true
  azure:
    sidecar:
      enabled: true
      autoLogin: true
    application:
      enabled: true
      tenant: nav.no
      replyURLs:
        - "https://testnav-oversikt.intern.dev.nav.no/login/oauth2/code/aad"
        - "http://localhost:8080/login/oauth2/code/aad"
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  accessPolicy:
    outbound:
      rules:
        - application: dolly-backend
        - application: dolly-backend-dev
        - application: ereg-batch-status-service
        - application: generer-navn-service
        - application: organisasjon-bestilling-service
        - application: synthdata-amelding
        - application: synthdata-arena-aap
        - application: synthdata-arena-dagpenger
        - application: synthdata-arena-meldekort
        - application: synthdata-arena-tilleggsstonad
        - application: synthdata-arena-tiltak
        - application: synthdata-arena-vedtakshistorikk
        - application: synthdata-elsam-gcp
        - application: testnav-adresse-service
        - application: testnav-amelding-service
        - application: testnav-app-tilgang-analyse-service
        - application: testnav-arbeidsforhold-service
        - application: testnav-arbeidsplassencv-proxy
        - application: testnav-batch-bestilling-service
        - application: testnav-bruker-service
        - application: testnav-bruker-service-dev
        - application: testnav-endringsmelding-service
        - application: testnav-generer-arbeidsforhold-populasjon-service
        - application: testnav-generer-organisasjon-populasjon-service
        - application: testnav-generer-synt-amelding-service
        - application: testnav-helsepersonell-service
        - application: testnav-ident-pool
        - application: testnav-inntektsmelding-generator-service
        - application: testnav-inntektsmelding-service
        - application: testnav-jenkins-batch-status-service
        - application: testnav-joark-dokument-service
        - application: testnav-kodeverk-service
        - application: testnav-miljoer-service
        - application: testnav-oppsummeringsdokument-service
        - application: testnav-organisasjon-faste-data-service
        - application: testnav-organisasjon-forvalter
        - application: testnav-organisasjon-mottak-service
        - application: testnav-organisasjon-service
        - application: testnav-organisasjon-tilgang-service
        - application: testnav-orgnummer-service
        - application: testnav-pdl-forvalter
        - application: testnav-pdl-forvalter-dev
        - application: testnav-person-faste-data-service
        - application: testnav-person-organisasjon-tilgang-service-dev
        - application: testnav-person-search-service
        - application: testnav-person-service
        - application: testnav-skattekort-service
        - application: testnav-sykemelding-api
        - application: testnav-synt-sykemelding-api
        - application: testnav-synt-vedtakshistorikk-service
        - application: testnav-tenor-search-service
        - application: testnav-tps-messaging-service
        - application: testnav-varslinger-service
        - application: testnav-varslinger-service-dev
        - application: testnorge-profil-api
        - application: testnorge-profil-api-dev
        - application: testnorge-tilbakemelding-api
        - application: testnav-levende-arbeidsforhold-ansettelse
        - applocation: testnav-levende-arbeidsforhold-service

  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-oversikt.intern.dev.nav.no"
