apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-oversikt-frontend
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tokenx:
    enabled: true
  idporten:
    enabled: true
    frontchannelLogoutPath: /oauth2/logout
    redirectPath: /login/oauth2/code/idporten
    postLogoutRedirectURIs:
      - https://testnav-oversikt.dev.intern.nav.no/login
  azure:
    application:
      enabled: true
      tenant: nav.no
      replyURLs:
       - "https://testnav-oversikt.dev.intern.nav.no/login/oauth2/code/aad"
       - "http://localhost:8080/login/oauth2/code/aad"
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  accessPolicy:
    outbound:
      rules:
        - application: testnorge-profil-api-dev
        - application: testnav-app-tilgang-analyse-service
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://testnav-oversikt.dev.intern.nav.no"