@import (reference) '~lessVars';

.subkategori {
	padding-bottom: 10px;

	h4 {
		margin: 15px 0 10px 0;

		.subgruppe {
			font-weight: normal;
		}
	}

	.subkategori-field-group {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		.skjemaelement {
			margin-right: 25px;

			&.static {
				label {
					font-size: 0.75em;
					text-transform: uppercase;
				}
				span {
					display: block;
					padding: 0.45rem 0;
					min-width: 200px;
				}
			}
		}

		.field-group-remove {
			margin-top: 15px;
			align-self: center;
		}

		.adressat {
			display: flex;
		}
		.doedsboAdresse {
			display: flex;
		}
	}

	.ingen-verdi-melding {
		margin-bottom: 10px;
	}
}

.add-buttons-container {
	display: flex;

	.dolly-button {
		margin-right: 20px;
	}
}

.field-array-line {
	border-top: 1px solid @color-bg-divider;
	padding: 10px 0;
}

.subItems {
	//display: flex;
	padding-left: 60px;

	.subItem-header {
		flex-direction: column;
		display: flex;
	}

	.subitems-container {
		display: flex;
		flex-wrap: wrap;

		.subitems {
			flex-direction: row;
		}
		.nummer {
			padding: 10px;
		}
	}
	.subitem-container-button {
		display: flex;
	}

	.infotekst {
		display: flex;
		align-items: center;
		color: red;
		margin: 17px;
	}
}

.subGruppe {
	display: flex;
	flex-direction: column;
	.items {
		display: flex;
		flex-wrap: wrap;
	}
}
