---
apiVersion: nais.io/v1
kind: AzureAdApplication
metadata:
  name: testnav-arbeidssoekerregisteret-proxy-trygdeetaten
  namespace: dolly
  labels:
    team: dolly
spec:
  secretName: azure-trygdeetaten-testnav-arbeidssoekerregisteret-proxy-trygdeetaten
  secretKeyPrefix: "AZURE_TRYGDEETATEN"
  tenant: trygdeetaten.no
---
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-arbeidssoekerregisteret-proxy
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "512m"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: dolly-idporten
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: dolly-backend
        - application: dolly-backend-dev
        - application: testnav-oversikt-frontend
    outbound:
      rules:
        - application: paw-arbeidssoekerregisteret-api-dolly
          namespace: paw
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  envFrom:
    - secret: azure-trygdeetaten-testnav-arbeidssoekerregisteret-proxy-trygdeetaten
  ingresses:
    - "https://testnav-arbeidssoekerregisteret-proxy.intern.dev.nav.no"