.info-stripe {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: 980px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: -40px;

  .navds-alert__wrapper {
    max-width: 95%;
  }

  .alle-meldinger {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;

    margin-bottom: -30px;
  }

  .expand-alle-meldinger {
    display: flex;
    align-items: center;
    flex-flow: inherit;

    button {
      z-index: 10;
    }
  }

  .lukk-alle-meldinger {
    width: 100%;
    text-align: right;
    position: relative;
    right: 27px;
    top: -27px;
    z-index: 1;
  }
}
