@import (reference) '~lessVars';

.sub-overskrift {
	background-color: @color-bg-divider;
	margin: 5px 0 15px;
	display: flex;
	align-items: center;
	padding: 6px;

	h3 {
		font-size: 1em;
		margin: 0;
	}

	svg {
		margin-right: 5px;
	}
}
