apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-avhengighetsanalyse-frontend
  namespace: dolly
  labels:
    team: dolly
spec:
  port: 8080
  webproxy: true
  azure:
    application:
      enabled: true
      replyURLs:
        - "https://testnorge-avhengighetsanalyse-frontend.dev.adeo.no/login/oauth2/code/aad"
        - "http://localhost:8080/login/oauth2/code/aad"
  liveness:
    path: /internal/isAlive
    periodSeconds: 30
    initialDelay: 30
  readiness:
    path: /internal/isReady
    initialDelay: 30
  prometheus:
    path: /internal/prometheus
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    limits:
      cpu: 1000m
      memory: 2048Mi
    requests:
      cpu: 500m
      memory: 1024Mi
  image: {{ image }}
  ingresses:
    - "https://testnorge-avhengighetsanalyse-frontend.dev.adeo.no"
    - "https://testnorge-avhengighetsanalyse-frontend.dev.intern.nav.no"
