apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnav-pdl-forvalter
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "900"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "900"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "900"
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
    - name: ACCEPTED_AUDIENCE
      value: dev-gcp:dolly:testnav-pdl-forvalter
  image: "{{image}}"
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  ingresses:
    - "https://testnav-pdl-forvalter.intern.dev.nav.no"
  liveness:
    path: /internal/health/liveness
    periodSeconds: 30
    initialDelay: 30
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 2
    max: 10
  resources:
    requests:
      cpu: 100m
      memory: 2048Mi
    limits:
      memory: 4096Mi
  accessPolicy:
    inbound:
      rules:
        - application: testnav-oversikt-frontend
        - application: dolly-backend
        - application: dolly-frontend
        - application: dolly-idporten
    outbound:
      rules:
        - application: generer-navn-service
        - application: testnav-adresse-service
        - application: testnav-ident-pool
        - application: testnav-kodeverk-service
        - application: testnav-organisasjon-forvalter
        - application: testnav-person-service
        - application: testnav-tps-messaging-service
        - application: logging
          namespace: nais-system
      external:
        - host: testnav-dolly-proxy.dev-fss-pub.nais.io
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: testnav-pdl-forvalter-db
