apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnav-levende-arbeidsforhold-ansettelse
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: testnav-levende-arbeidsforhold-scheduler
    outbound:
      rules:
        - application: testnav-kodeverk-service
        - application: testnav-tenor-search-service
        - application: logging
          namespace: nais-system
      external:
        - host: testnav-dolly-proxy.dev-fss-pub.nais.io
        - host: testnav-pdl-proxy.dev-fss-pub.nais.io
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  liveness:
    initialDelay: 45
    path: /internal/health/liveness
  readiness:
    initialDelay: 45
    path: /internal/health/readiness
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-levende-arbeidsforhold-ansettelse.intern.dev.nav.no"
  gcp:
    sqlInstances:
      - type: POSTGRES_16
        tier: db-custom-1-3840
        name: testnav-levende-arbeidsforhold
        databases:
          - name: testnav-levende-arbeidsforhold
        insights:
          enabled: true
          recordApplicationTags: true
          recordClientAddress: true
        diskAutoresize: true #Kanskje ikke nødvendig?
        autoBackupHour: 3 #Lager backup av hele SQL instancen hver dag kl 03:00
        #collation: DESC
