*.idea/
*target/
*.iml

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules/

# production
*frontend/build/
*frontend-libs/*/lib/

*.DS_Store

*apps/testnorge-bisys/c:/

### Gradle ###
.gradle
*build/
**/out/*

##brreg-stub
apps/brreg-stub/src/generated
apps/brreg-stub/src/jaxb2