*.idea/
*target/
*.iml
*.http

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
*vitest-result.json
*__screenshots__/

# dependencies
node_modules/
docs/node_modules/

# production
*frontend/build/
navikt/*/lib/

docs/.antora-cache/
docs/build/
docs/public/

*.DS_Store

### Gradle ###
.gradle
*build/
*dist/
**/out/*

##brreg-stub
apps/brreg-stub/src/generated
apps/brreg-stub/src/jaxb2

### VS Code ###
.vscode
**/bin/*
/test-results/.last-run.json
