spring:
  application:
    name: testnorge-statistikk-api
  flyway:
    locations: classpath:db/migration
  jpa:
    database: POSTGRESQL
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

application:
  version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
  name: statistikk-api