spring:
  config:
    import: "vault://"
  datasource:
    url: jdbc:postgresql://b27dbvl032.preprod.local:5432/testnav-udistub?autoReconnect=true&useSSL=false
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
      connection-timeout: 30000
      initialization-fail-timeout: 10000
      jdbc-url: jdbc:postgresql://b27dbvl032.preprod.local:5432/testnav-udistub?autoReconnect=true&useSSL=false
  cloud:
    gcp:
      secretmanager:
        enabled: false # Running in dev-fss.
    vault:
      kv:
        enabled: false
      host: vault.adeo.no
      port: 443
      fail-fast: true
      connection-timeout: 15000
      read-timeout: 30000
      database:
        backend: postgresql/preprod-fss
        role: testnav-udistub-admin
        enabled: true
      token: ${SPRING_CLOUD_VAULT_TOKEN}
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}