spring:
  flyway:
    enabled: true # Disabled by default as you should probably think twice before running Flyway-migrations
    locations: classpath:db/migration
    baseline-on-migrate: true
  datasource:
    url: jdbc:postgresql://b27dbvl023.preprod.local:5432/udi-stub-dev
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default-schema: public
  cloud:
    vault:
      database:
        backend: postgresql/preprod-fss
        enabled: true
        role: udi-stub-dev-admin
      kv:
        enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          accepted-audience: ${client_id}, api://${client_secret}
