AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    name: Testnav-UDI-stub
    version: 1.1
    description: Stub av persontjenesten til UDI
  datasource:
    testOnBorrow: true
    validationQuery: select 1
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.secret}
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-fss:dolly:testnav-udi-stub
  cloud:
    vault:
      host: vault.adeo.no
      port: 443
      database:
        enabled: true
      kv:
        enabled: false

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping.prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
  metrics.export:
    prometheus.enabled: true
server:
  servlet:
    encoding:
      charset: UTF-8

