<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%p) | %yellow(%logger{0}): %m%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</included>