azure.app.client.id: ${client_id}
azure.app.client.secret: ${client_secret}
TOKEN_X_CLIENT_ID: dev-gcp:dolly:testnav-aareg-proxy

management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.security: trace
    org.springframework.cloud.gateway: trace
    org.springframework.web.reactive: trace
    org.springframework.web.server: trace