spring:
  application:
    name: testnav-aareg-proxy
  config:
    import: "dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            response-timeout: 600s

consumers:
    aareg-services:
      name: aareg-services-nais-{env}
      namespace: arbeidsforhold
      url: https://aareg-services-{env}.dev.intern.nav.no
      cluster: dev-fss
    aareg-vedlikehold:
      name: aareg-dolly-api-{env}
      namespace: arbeidsforhold
      url: https://aareg-dolly-api-{env}.intern.dev.nav.no
      cluster: dev-fss