apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnav-synt-vedtakshistorikk-service
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-body-size: "512m"
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  liveness:
    path: /internal/health/liveness
    periodSeconds: 30
    initialDelay: 30
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  image: "{{image}}"
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
    outbound:
      rules:
        - application: synthdata-arena-dagpenger
        - application: synthdata-arena-vedtakshistorikk
        - application: testnav-dolly-proxy
          cluster: dev-fss
        - application: testnav-dolly-search-service
        - application: testnav-organisasjon-faste-data-service
        - application: logging
          namespace: nais-system
      external:
        - host: testnav-dolly-proxy.dev-fss-pub.nais.io
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  ingresses:
    - "https://testnav-synt-vedtakshistorikk-service.intern.dev.nav.no"
