.finnperson-container {
  position: relative;
  margin: 0;
  width: 310px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(183, 177, 169);
  box-sizing: border-box;

  input {
    margin: 0px 10px 0px 0px;
    height: 26px;
    border: 0;
  }
}
