SERVICEUSER_USERNAME: dummy
SERVICEUSER_PASSWORD: dummy

consumers:
  organisasjonapi:
    url: https://testnorge-organisasjon-api-dev.dev.adeo.no
    client_id: 32d4b32e-95d1-4e40-b594-304945a1a24a

spring:
  h2:
    console:
      enabled: true
      path: /h2
  flyway:
    enabled: true
  datasource:
    url: jdbc:h2:mem:testdb?useUnicode=yes&characterEncoding=UTF-8
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect