@darkBlue: #194d62;

.attributt-velger {
	.attributt-velger_search {
		width: 40%;
	}

	.attributt-velger_panels {
		width: 60%;
		padding-right: 30px;
		border-right: 1px solid @darkBlue;

		.attributt-velger_panelcontent {
			display: flex;
			flex-wrap: wrap;

			> * {
				width: 25%;
			}
		}
	}

	.utvalg {
		flex-grow: 1;
		padding-left: 30px;
	}
}
