@import (reference) '~lessVars';

.attributt-velger {
	&_search {
		width: 40%;
	}

	&_panels {
		width: 60%;
		padding-right: 30px;
		border-right: 1px solid @color-darkblue;
	}
	&_panelcontent {
		display: flex;
		flex-direction: column;
	}

	&_panelsubcontent {
		display: flex;
		flex-wrap: wrap;
		> * {
			width: 25%;
		}
	}

	.utvalg {
		flex-grow: 1;
		padding-left: 30px;
	}
}
