@import (reference) '~lessVars';

.person-info-block {
	h3 {
		background-color: @color-bg-divider;
		margin: 0 0 10px 0;
		padding: 3px 6px;
		font-size: 0.8em;
	}

	&_content {
		display: flex;
		flex-wrap: wrap;

		.static-value {
			flex: 0 0 160px;
			margin-bottom: 10px;
		}
	}
}
