AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
    name: testnorge-profil-api
    desciption: API for hente ut profil fra Azure Ad
    cluster: dev-gcp
    namespace: dolly
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: ${TOKEN_X_CLIENT_ID}

access.scopes:
  - https://graph.microsoft .com/.default

api.azuread.url: https://graph.microsoft.com

consumers:
  testnav-person-organisasjon-tilgang-service:
    cluster: dev-gcp
    namespace: dolly
    name: ${PERSON_ORG_TILGANG_NAME}
    url: ${PERSON_ORG_TILGANG_URL}