@import (reference) '~lessVars';

.dollyselect.error {
  .select__control {
    border-color: hsl(8deg 66% 44%);
    box-shadow: 0 0 0 1px #ba3a26;
  }
}

.flat-virtualized-item > div,
.grouped-virtualized-list-item > div {
  display: table;
}

.fast-option {
  line-height: 1.7em !important;
  vertical-align: middle;
  display: table-cell;
}