AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  security:
    oauth2:
      client:
        registration:
          idporten:
            client-id: ${IDPORTEN_CLIENT_ID}
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            post-logout-redirect-uri: 'https://testnav-oversikt.dev.intern.nav.no/login'
            scope: openid
            client-authentication-method: private_key_jwt
          aad:
            client-id: ${azure.app.client.id}
            client-secret: ${azure.app.client.secret}
            authorization-grant-type: authorization_code
            redirect-uri-template: '{baseUrl}/login/oauth2/code/{registrationId}'
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            scope: openid, ${azure.app.client.id}/.default
        provider:
          aad:
            authorization-uri: ${AAD_ISSUER_URI}/oauth2/v2.0/authorize
            token-uri: ${AAD_ISSUER_URI}/oauth2/v2.0/token
            jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          idporten:
            issuer-uri: https://oidc-ver2.difi.no/idporten-oidc-provider/
consumers:
  testnorge-profil-api:
    cluster: dev-gcp
    namespace: dolly
    name: testnorge-profil-api-dev
    url: https://testnorge-profil-api-dev.dev.intern.nav.no/api
  testnav-app-tilgang-analyse-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-app-tilgang-analyse-service
    url: https://testnav-app-tilgang-analyse-service.dev.intern.nav.no
  testnav-person-organisasjon-tilgang-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-person-organisasjon-tilgang-service-dev
    url: https://testnav-person-organisasjon-tilgang-service-dev.dev.intern.nav.no
  testnav-bruker-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-bruker-service-dev
    url: https://testnav-bruker-service-dev.dev.intern.nav.no