apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnorge-bisys
  namespace: dolly
  labels:
    team: dolly
spec:
  port: 8080
  webproxy: true
  liveness:
    path: /internal/isAlive
    periodSeconds: 30
    initialDelay: 30
  readiness:
    path: /internal/isReady
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/prometheus
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  image: {{ image }}
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: orkestratoren
          cluster: dev-fss
  azure:
    application:
      enabled: true
      tenant: nav.no
  ingresses:
    - "https://testnorge-bisys.nais.preprod.local"
    - "https://testnorge-bisys.dev.adeo.no"
    - "https://testnorge-bisys.dev.intern.nav.no"