.generate-address-create {
	&_status {
		margin-left: 10px;
	}
}

// .generate-address-container {
// 	.lukknapp {
// 		position: absolute;
// 		right: 20px;
// 		top: 15px;
// 		z-index: 1;
// 	}
// 	.generate-address-form {
// 		display: flex;
// 		margin-bottom: 10px;

// 		.skjemaelement:not(:last-child) {
// 			margin-right: 15px;
// 		}
// 	}
// }

.gyldigadresse-select {
	width: 350px;
	// input {
	// }
}

.husnummer-select {
	width: 200px;
}

.address-container {
	display: flex;
	flex-wrap: wrap;

	input {
		width: 200px;
	}
}

.get-address-container {
	display: flex;
	flex-wrap: wrap;

	.generate-address {
		margin: 8px 20px 0 0;
		height: 36px;
	}

	p {
		color: #ba3a26;
	}
}

// // z-index to make sure overlay is always in front
// .ReactModal__Overlay {
// 	z-index: 10;
// }
// // override to let modal stay in front of steg-indikator
// .stegindikator__steg {
// 	z-index: 0;
// }
