.generate-address-create {
	&_status {
		margin-left: 10px;
	}
}

.address-wrapper {
	break-after: all;
}

.address-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.generate-address-button {
		margin: 8px 20px 15px 0;
		height: 36px;
	}

	p {
		color: #ba3a26;
		margin: 8px 0 16px 0;
	}

	input {
		width: 200px;
	}
}

.gyldigadresse-select {
	width: 350px;
}

.husnummer-select {
	width: 200px;
}
