AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
    name: testnorge-tilbakemelding-api
    description: App for innsending av tilbakemeldinger. Tilbakemeldingene blir publisert i slack
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-gcp:dolly:testnorge-tilbakemelding-api
consumers:
  slack:
    token: ${SLACK_TOKEN}
    baseUrl: https://slack.com
    channel: ${SLACK_CHANNEL}
  profil-api:
    url: http://testnorge-profil-api.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnorge-profil-api