AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b
CLIENT_ID: 6554cc46-d5a9-4b9b-aafb-775b9ee09696

spring:
  application:
    version: application.version.todo //TODO Finn ut hvordan denne kan settes fra gradle
    name: tilbakemelding-api
    description: App for innsending av tilbakemeldinger. Tilbakemeldingene blir publisert i slack

consumer:
  slack:
    token: ${SLACK_TOKEN}
    baseUrl: https://slack.com
    channel: ${SLACK_CHANNEL}