@import (reference) '~lessVars';

.DayPickerInput-Overlay {
	border: 1px solid #ddd;
}

.error.skjemaelement .nav-datovelger__input {
	border-color: @color-error-border;
	background-color: @color-error-background;
}
