AZURE_APP_CLIENT_ID: ${sm\://azure-app-client-id}
AZURE_APP_CLIENT_SECRET: ${sm\://azure-app-client-secret}

spring:
  config:
    import: "sm://"
  h2:
    console:
      enabled: true
      path: /h2
  flyway:
    enabled: true
  datasource:
    url: jdbc:h2:mem:testdb?useUnicode=yes&characterEncoding=UTF-8
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

consumers:
  generer-navn-service:
    url: https://generer-navn-service.intern.dev.nav.no
  testnav-orgnummer-service:
    url: https://testnav-orgnummer-service.intern.dev.nav.no