apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: organisasjon-orgnummer-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-generer-organisasjon-populasjon-service
          cluster: dev-gcp
        - application: testnav-organisasjon-forvalter
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://organisasjon-orgnummer-service.dev.intern.nav.no"
    - "https://organisasjon-orgnummer-service.dev-fss-pub.nais.io"
