@import (reference) '~lessVars';

.dolly-button {
	font-weight: 600;
	font-size: 0.8rem;

	border: none;
	border-bottom: 1px solid transparent;
	background: none;
	color: @color-lightblue;
	cursor: pointer;
	padding: 5px;

	&:hover {
		border-color: @color-lightblue;
	}
	svg {
		margin-right: 5px;
		fill: @color-lightblue;
	}

	p {
		margin: 0;
	}
}
