// - Normalize.css
@import "@navikt/ds-css";
@import './variables.less';
@import './utils.less';

// TODO: rydd i shared styling
// shared stylings across pages
@import './shared/Oversikt';
@import './shared/Toolbar';

body {
  line-height: unset;
  font-size: unset;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: @color-bg-grey;
  color: @color-textbase;

}

.dfa-blokk_content {

  && .navds-form-field--small .navds-date__field-button {
    top: 18px;
    right: 33px;
    position: relative;
  }


  .navds-date .rdp-button {
    position: unset;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 40px 0 20px;
}

h3 {
  font-size: 1rem;
}

a {
  background-color: unset;
  color: unset;

  :hover {
    cursor: pointer;
  }
}

.navds-textarea__counter {
  margin-top: 2px;
}

.navds-button svg {
  fill: #0067c5;
}

.navds-button--secondary {
  background-color: #FFFFFF;

}

.navds-date__field-input {
  margin-top: -8px;
}

.navds-copybutton__icon {

  svg {
    margin-left: 2px;
  }
}

.navds-checkbox {
  margin-bottom: 6px;
}

.navds-form-field--small {

  gap: unset;

  .navds-date__field-input {
    min-height: 38px;
    width: 190px;
    margin-top: 0;
  }
}


.navds-text-field__input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;;
  outline-offset: 0;
  box-shadow: unset;
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-textfield-border, var(--__ac-textfield-border, var(--a-border-default)));
}

.navds-checkboxes {
  margin-bottom: 1rem;
}

.navds-toggle-group__button-inner {
  font-size: 16px;
}

.navds-table__header-cell--align-center, .navds-table__data-cell--align-center {
  text-align: -webkit-center;
}

.navds-checkbox__input {
  z-index: unset;
}

.miljo-velger {
  .navds-body-short {
    font-size: var(--navds-font-size-small)
  }
}

.toggle--wrapper {
  width: 100%;
}

.ReactModal__Body--open {
  overflow: auto;
}

.skjemaelement__feilmelding {
  font-style: italic;
  color: #ba3a26;
  margin-top: .5rem;
  margin-bottom: 0;
}


// NAV skjema override
.skjemaelement {
  line-height: 1.375rem;
  margin-bottom: 1rem;

  .skjemaelement__input {
    width: 100%;
    height: 38px;
    padding: 7px 8px;
    border-radius: var(--a-border-radius-medium);
    border: 1px solid var(--ac-textfield-border, var(--__ac-textfield-border, var(--a-border-default)));

    &--harFeil {
      border-color: var(--ac-textfield-error-border, var(--__ac-textfield-error-border, var(--a-border-danger)));
      box-shadow: 0 0 0 1px var(--ac-textfield-error-border, var(--__ac-textfield-error-border, var(--a-border-danger)));
    }

    &:read-only {
      background-color: #f2f2f2;
      border-width: thin;
      color: #99a4bd;
    }
  }

  .skjemaelement__label {
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 400;
  }


  .skjemaelement__feilmelding {
    font-style: italic;
    color: #ba3a26;
    margin-top: .5rem;
    margin-bottom: 0;
  }

  .svg-icon {
    pointer-events: none;
  }
}

.error {
  margin-bottom: 0;
}

.inputPanel {
  margin-bottom: 0.5rem;
}

// NAV hjelpetekst
.navds-help-text {
  margin-left: 10px;
  margin-bottom: 4px;
}

.navds-help-text__button {
  margin: 0 10px 0 0
}

.navds-button {
  min-width: unset;
}

.popover {
  max-width: 350px;
}

.form-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ny-bestilling-form {
  > h3 {
    margin: 10px 0 0;
  }

  &_selects {
    display: flex;
    padding: 10px 0 0;
  }

  &_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    padding: 0 0 0 20px;

    h2 {
      margin: 0 0 10px;
    }

    .mal-admin {
      margin-bottom: 16px;

      a {
        text-decoration: none;
        color: @navBla;
      }

      svg {
        stroke: @navBla;
      }
    }

    > div {
      h3 {
        margin-right: 10px;
      }

      display: flex;
      width: 100%;
      align-items: center;
    }
  }
}