apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-inntektsmelding-generator-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: testnorge-inntekt
          cluster: dev-fss
        - application: testnav-inntektsmelding-service
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    periodSeconds: 30
    initialDelay: 30
  readiness:
    path: /internal/isReady
    initialDelay: 30
  prometheus:
    path: /internal/prometheus
  replicas:
    min: 1
    max: 1
  resources:
    limits:
      cpu: 500m
      memory: 2048Mi
    requests:
      cpu: 200m
      memory: 1024Mi
  ingresses:
    - "https://testnav-inntektsmelding-generator-service.dev.intern.nav.no"