<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <rootCauseFirst>true</rootCauseFirst>
                    <maxDepthPerThrowable>256</maxDepthPerThrowable>
                    <maxLength>10280</maxLength>
                    <shortenedClassNameLength>20</shortenedClassNameLength>
                    <exclude>^sun\.reflect\..*\.invoke</exclude>
                    <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                    <exclude>java\.util\.concurrent\..*</exclude>
                    <exclude>org\.apache\.catalina\..*</exclude>
                    <exclude>org\.apache\.coyote\..*</exclude>
                    <exclude>org\.apache\.tomcat\..*</exclude>
                </throwableConverter>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{ISO8601} %highlight(%-5level) - %msg%n%throwable
                </pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger name="no.nav.dolly.web.logging.LogRequestInterceptor">
        <level value="TRACE"/>
    </logger>
    <logger name="no.nav.dolly.web.service.LogService">
        <level value="TRACE"/>
    </logger>

</configuration>