.search-content {
  padding: 20px;
  background-color: transparent;
  margin-bottom: 40px;
}

.search-field{
  &_options{
    padding: 20px;
    width: 30%;
  }
  &_resultat{
    padding: 20px;
    width: 70%;
  }
}