@blokk_bg: #f7f7f7;
@blokk_border: #eee;

.dfa-blokk {
	padding: 10px;
	margin-bottom: 10px;

	&:nth-child(even) {
		border-left: 2px solid @blokk_border;
	}
	&:nth-child(odd) {
		background-color: @blokk_bg;
		border-left: 2px solid @blokk_border;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ccc;
		h2 {
			font-size: 18px;
			margin: 0px 0 10px 0px;
		}
	}
	&-content {
		display: flex;
		flex-wrap: wrap;
		padding-top: 10px;
	}
}
