@import (reference) '~lessVars';

main {
  width: 100%;
  padding: @page-padding;
  max-width: @page-max-width;
  margin: 0 auto;
}

.alertstripe__tekst {
  min-width: 90%;
}

.navds-help-text {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.navds-popover {
  max-width: 350px;
}
