apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: dolly-frontend
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "512m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
spec:
  tokenx:
    enabled: true
  azure:
    sidecar:
      enabled: true
      autoLogin: true
      autoLoginIgnorePaths:
        - /login
        - /assets/*
        - /
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  replicas:
    min: 1
    max: 2
  port: 8080
  ingresses:
    - "https://dolly.intern.dev.nav.no"
    - "https://dolly.ekstern.dev.nav.no"
  accessPolicy:
    outbound:
      rules:
        - application: dolly-backend
        - application: dolly-redis-session
        - application: generer-navn-service
        - application: testnav-adresse-service
        - application: testnav-arbeidsplassencv-proxy
        - application: testnav-bruker-service
        - application: testnav-helsepersonell-service
        - application: testnav-joark-dokument-service
        - application: testnav-kodeverk-service
        - application: testnav-miljoer-service
        - application: testnav-organisasjon-faste-data-service
        - application: testnav-organisasjon-forvalter
        - application: testnav-organisasjon-service
        - application: testnav-pdl-forvalter
        - application: testnav-person-faste-data-service
        - application: testnav-dolly-search-service
        - application: testnav-person-service
        - application: testnav-skattekort-service
        - application: testnav-sykemelding-api
        - application: testnav-tenor-search-service
        - application: testnav-tps-messaging-service
        - application: testnav-varslinger-service
        - application: testnorge-profil-api
        - application: testnorge-tilbakemelding-api
        - application: testnav-levende-arbeidsforhold-ansettelse
        - application: testnav-levende-arbeidsforhold-scheduler
        - application: testnav-yrkesskade-proxy
        - application: testnav-altinn3-tilgang-proxy
        - application: testnav-arbeidssoekerregisteret-proxy
        - application: testnav-api-oversikt-service
        - application: logging
          namespace: nais-system
      external:
        - host: testnav-pensjon-testdata-facade-proxy.dev-fss-pub.nais.io
        - host: testnav-sigrunstub-proxy.dev-fss-pub.nais.io
        - host: testnav-krrstub-proxy.dev-fss-pub.nais.io
        - host: testnav-fullmakt-proxy.dev-fss-pub.nais.io
        - host: testnav-udistub-proxy.dev-fss-pub.nais.io
        - host: testnav-inst-proxy.dev-fss-pub.nais.io
        - host: testnav-aareg-proxy.dev-fss-pub.nais.io
        - host: testnav-medl-proxy.dev-fss-pub.nais.io
        - host: testnav-histark-proxy.dev-fss-pub.nais.io
        - host: testnav-arena-forvalteren-proxy.dev-fss-pub.nais.io
        - host: testnav-inntektstub-proxy.dev-fss-pub.nais.io
        - host: testnav-norg2-proxy.dev-fss-pub.nais.io
        - host: testnav-brregstub-proxy.dev-fss-pub.nais.io
        - host: testnav-dokarkiv-proxy.dev-fss-pub.nais.io
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 2
    failureThreshold: 140
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  valkey:
    - instance: session
      access: readwrite
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 2
    failureThreshold: 140
  prometheus:
    enabled: true
    path: /internal/metrics
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      memory: 3072Mi
  image: "{{image}}"
  envFrom:
    - secret: idporten-dolly-prod
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
