AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

dolly:
  api:
    v1:
      name: Dolly V2.0
      description: Dolly er verktøyet som kloner GDPR testdata til ønsket miljø. </br>
        Opprett fiktive testpersoner med arbeidsforhold, inntekter, sykemelding og annet i hht testbehov.
      version: Versjon 1

server:
  port: 8080
  compression:
    enabled: true
    mime-types: application/json,text/html,text/xml,text/plain,application/javascript,text/css
    servlet:
      encoding:
        charset: UTF-8
    max-http-header-size: 70KB

spring:
  cloud:
    vault:
      enabled: false
  main:
    allow-bean-definition-overriding: true
  flyway:
    enabled: true # Disabled by default as you should probably think twice before running Flyway-migrations
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    properties:
      hibernate:
        default-schema: public
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b/v2.0
          #The client_id of this application
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: ${TOKEN_X_CLIENT_ID}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping:
        prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
  metrics.export:
    prometheus.enabled: true

consumers:
  testnav-helsepersonell-service:
    name: testnav-helsepersonell-service
    namespace: dolly
    url: https://testnav-helsepersonell-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-organisasjon-forvalter:
    name: testnav-organisasjon-forvalter
    namespace: dolly
    url: https://testnav-organisasjon-forvalter.dev.intern.nav.no
    cluster: dev-gcp
  testnav-inntektsmelding-service:
    name: testnav-inntektsmelding-service
    namespace: dolly
    url: https://testnav-inntektsmelding-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-tps-messaging-service:
    name: testnav-tps-messaging-service
    namespace: dolly
    url: https://testnav-tps-messaging-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-generer-navn-service:
    name: generer-navn-service
    namespace: dolly
    url: https://generer-navn-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-profil-api:
    name: testnorge-profil-api
    namespace: dolly
    url: https://testnorge-profil-api.dev.intern.nav.no
    cluster: dev-gcp
  testnav-person-service:
    name: testnav-person-service
    namespace: dolly
    url: https://testnav-person-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-kodeverk-proxy:
    name: testnav-kodeverk-proxy
    namespace: dolly
    url: https://testnav-kodeverk-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-dokarkiv-proxy:
    name: testnav-dokarkiv-proxy
    namespace: dolly
    url: https://testnav-dokarkiv-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-brregstub-proxy:
    name: testnav-brregstub-proxy
    namespace: dolly
    url: https://testnav-brregstub-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-testnav-aaregister-proxy:
    name: testnav-aaregister-proxy
    namespace: dolly
    url: https://testnav-aaregister-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-krrstub-proxy:
    name: testnav-krrstub-proxy
    namespace: dolly
    url: https://testnav-krrstub-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-inntektstub-proxy:
    name: testnav-inntektstub-proxy
    namespace: dolly
    url: https://testnav-inntektstub-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-inst-service:
    name: testnav-inst-service
    namespace: dolly
    url: https://testnav-inst-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-statisk-data-forvalter-proxy:
    name: testnav-statisk-data-forvalter-proxy
    namespace: dolly
    url: https://testnav-statisk-data-forvalter-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-skjermingsregister-proxy:
    name: testnav-skjermingsregister-proxy
    namespace: dolly
    url: https://testnav-skjermingsregister-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-arena-forvalteren-proxy:
    name: testnav-arena-forvalteren-proxy
    namespace: dolly
    url: https://testnav-arena-forvalteren-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-pdl-proxy:
    name: testnav-pdl-proxy
    namespace: dolly
    url: https://testnav-pdl-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-sigrunstub-proxy:
    name: testnav-sigrunstub-proxy
    namespace: dolly
    url: https://testnav-sigrunstub-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-pensjon-testdata-facade-proxy:
    name: testnav-pensjon-testdata-facade-proxy
    namespace: dolly
    url: https://testnav-pensjon-testdata-facade-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-pdl-forvalter:
    name: testnav-pdl-forvalter
    namespace: dolly
    url: https://testnav-pdl-forvalter.dev.intern.nav.no
    cluster: dev-gcp
  testnav-arbeidsforhold-service:
    name: testnav-arbeidsforhold-service
    namespace: dolly
    url: https://testnav-arbeidsforhold-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-amelding-service:
    name: testnav-amelding-service
    namespace: dolly
    url: https://testnav-amelding-service.dev.intern.nav.no
    cluster: dev-gcp
  testnav-sykemelding-api-proxy:
    name: testnav-sykemelding-api-proxy
    namespace: dolly
    url: https://testnav-sykemelding-api-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-synt-sykemelding-api:
    name: testnav-synt-sykemelding-api
    namespace: dolly
    url: https://testnav-synt-sykemelding-api.dev.intern.nav.no
    cluster: dev-gcp
  testnav-organisasjon-service:
    name: testnav-organisasjon-service
    namespace: dolly
    url: https://testnav-organisasjon-service.dev.intern.nav.no
    cluster: dev-gcp
    threads: 5
  tps-forvalteren-proxy:
    name: tps-forvalteren-proxy
    namespace: dolly
    url: https://tps-forvalteren-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-udistub-proxy:
    name: testnav-udistub-proxy
    namespace: dolly
    url: https://testnav-udistub-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-kontoregister-person-proxy:
    name: testnav-kontoregister-person-proxy
    namespace: dolly
    url: https://testnav-kontoregister-person-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-popp-testdata-proxy:
    name: testnav-popp-testdata-proxy
    namespace: dolly
    url: https://testnav-popp-testdata-proxy.dev.intern.nav.no
    cluster: dev-gcp
