
open:
  search:
    index: bestilling-dev

spring:
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_TESTNAV_DOLLY_BACKEND_DEV_TESTNAV_DOLLY_BACKEND_DEV_HOST}:${NAIS_DATABASE_TESTNAV_DOLLY_BACKEND_DEV_TESTNAV_DOLLY_BACKEND_DEV_PORT}/${NAIS_DATABASE_TESTNAV_DOLLY_BACKEND_DEV_TESTNAV_DOLLY_BACKEND_DEV_DATABASE}?user=${NAIS_DATABASE_TESTNAV_DOLLY_BACKEND_DEV_TESTNAV_DOLLY_BACKEND_DEV_USERNAME}&password=${NAIS_DATABASE_TESTNAV_DOLLY_BACKEND_DEV_TESTNAV_DOLLY_BACKEND_DEV_PASSWORD}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}

consumers:
  testnav-pdl-forvalter:
    name: testnav-pdl-forvalter-dev
    url: http://testnav-pdl-forvalter-dev.dolly.svc.cluster.local
  testnav-sykemelding-api:
    name: testnav-sykemelding-api-dev
    url: http://testnav-sykemelding-api-dev.dolly.svc.cluster.local
  bruker-service:
    name: testnav-bruker-service-dev
    url: http://testnav-bruker-service-dev.dolly.svc.cluster.local