<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod,dev">
        <include resource="logback-spring-json.xml"/>
    </springProfile>

    <springProfile name="local">
        <include resource="logback-spring-console.xml"/>
    </springProfile>

    <logger level="TRACE" name="no.nav.testnav.libs.reactivecore.filter.RequestLogger"/>
    <logger level="TRACE" name="no.nav.dolly.bestilling.histark.HistarkConsumer"/>
    <logger level="TRACE" name="no.nav.testnav.libs.servletcore.logging.LogRequestInterceptor"/>
    <logger level="TRACE" name="org.jetbrains.nativecerts"/>
    <logger level="TRACE" name="com.intellij.util.net.ssl"/>
    <logger level="ERROR" name="reactor.netty.transport.TransportConnector"/>
    <logger level="DEBUG" name="reactor.netty.http.client.HttpClient"/>
    <logger level="DEBUG" name="no.nav.testnav.libs.reactivecore.logging.WebClientLogger"/>
</configuration>
