<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.dolly" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type" level="TRACE"/>
</configuration>