<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <rootCauseFirst>true</rootCauseFirst>
                <maxDepthPerThrowable>256</maxDepthPerThrowable>
                <maxLength>10280</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <exclude>^sun\.reflect\..*\.invoke</exclude>
                <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSS} [%-5level] %msg%n</pattern>
        </layout>
        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host> <!-- remote system to log to -->
            <port>6514</port> <!-- remote port to log to -->
            <ident>dkif</ident> <!-- program name to log as -->
            <maxMessageLength>128000</maxMessageLength> <!-- max log message length in bytes -->
        </syslogConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.dolly-backend" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>

    <logger name="auditLogger" level="INFO" additivity="false">
        <appender-ref ref="auditLogger"/>
    </logger>

</configuration>