<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod,dev">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="no.nav.dolly.libs.logging.DollyLogstashEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} - %X{traceId} - %msg%n</pattern>
                <maxStackTraceLength>-1</maxStackTraceLength>
                <addCauses>true</addCauses>
<!--                <stackTraceIncludePrefix>-</stackTraceIncludePrefix>-->
<!--                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
<!--                    <rootCauseFirst>true</rootCauseFirst>-->
<!--                    -->
<!--                    <maxLength>10280</maxLength>-->
<!--                    <shortenedClassNameLength>20</shortenedClassNameLength>-->
<!--                    <exclude>^sun\.reflect\..*\.invoke</exclude>-->
<!--                    <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>-->
<!--                    <exclude>java\.util\.concurrent\..*</exclude>-->
<!--                    <exclude>org\.apache\.catalina\..*</exclude>-->
<!--                    <exclude>org\.apache\.coyote\..*</exclude>-->
<!--                    <exclude>org\.apache\.tomcat\..*</exclude>-->
<!--                </throwableConverter>-->
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <charset>UTF-8</charset>
                <pattern>
                    %d{HH:mm:ss.SSS} %highlight(%p) | %yellow(%logger{0}): %m%n
                </pattern>
<!--                <pattern>%d{yyyy-MM-dd HH:mm:ss} - %X{traceId} - %msg%n</pattern>-->
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <logger level="TRACE" name="no.nav.testnav.libs.reactivecore.filter.RequestLogger"/>
    <logger level="TRACE" name="no.nav.dolly.bestilling.histark.HistarkConsumer"/>
    <logger level="TRACE" name="no.nav.testnav.libs.servletcore.logging.LogRequestInterceptor"/>
    <logger level="TRACE" name="org.jetbrains.nativecerts"/>
    <logger level="TRACE" name="com.intellij.util.net.ssl"/>
    <logger level="ERROR" name="reactor.netty.transport.TransportConnector"/>
    <logger level="DEBUG" name="reactor.netty.http.client.HttpClient"/>
    <logger level="DEBUG" name="no.nav.testnav.libs.reactivecore.logging.WebClientLogger"/>
</configuration>
