apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-organisasjon-tilgang-frontend
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
  port: 8080
  azure:
    application:
      enabled: true
      tenant: nav.no
      replyURLs:
        - "https://testnav-organisasjon-tilgang.dev.intern.nav.no/login/oauth2/code/aad"
        - "http://localhost:8080/login/oauth2/code/aad"
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  liveness:
    path: /internal/isAlive
    periodSeconds: 30
    initialDelay: 30
  readiness:
    path: /internal/isReady
    initialDelay: 30
  prometheus:
    path: /internal/prometheus
  replicas:
    min: 1
    max: 1
  accessPolicy:
    outbound:
      rules:
        - application: testnav-organisasjon-tilgang-service
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 300m
      memory: 512Mi
  image: {{ image }}
  ingresses:
    - "https://testnav-organisasjon-tilgang.dev.intern.nav.no"