apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-organisasjon-tilgang-frontend
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "15"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "15"
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  port: 8080
  webproxy: true
  azure:
    application:
      enabled: true
      tenant: nav.no
      replyURLs:
        - "https://testnav-organisasjon-tilgang.intern.dev.nav.no/login/oauth2/code/aad"
        - "http://localhost:8080/login/oauth2/code/aad"
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  liveness:
    path: /internal/isAlive
    periodSeconds: 30
    initialDelay: 30
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/isReady
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  accessPolicy:
    outbound:
      rules:
        - application: testnav-organisasjon-tilgang-service
  resources:
    limits:
      memory: 1024Mi
    requests:
      cpu: 300m
      memory: 512Mi
  image: "{{image}}"
  ingresses:
    - "https://testnav-organisasjon-tilgang.intern.dev.nav.no"