spring:
  application:
    name: brreg-stub

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping:
        prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
server:
  servlet:
    encoding:
      charset: UTF-8
  error:
    include-message: always