<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ROOT_LOG_LEVEL" value="INFO"/>
    <!-- Logger for sensitive data -->

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.brregstub" level="INFO"/>
    <logger name="no.nav.testnav.libs.servletcore.logging.LogRequestInterceptor">
        <level value="TRACE"/>
    </logger>
</configuration>