<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod,local">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="no.nav.dolly.libs.logging.DollyLogstashEncoder">
                <includeMdcKeyName>bestillingId</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>