apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnav-api-oversikt-service
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  ingresses:
    - "https://testnav-oversikt-service.intern.dev.nav.no"
  liveness:
    path: /internal/health/liveness
    periodSeconds: 30
    initialDelay: 30
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 50m
      memory: 800Mi
    limits:
      memory: 2048Mi
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: dolly-frontend-dev-unstable
        - application: dolly-idporten
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
    outbound:
      rules:
        - application: logging
          namespace: nais-system
