@import (reference) '~lessVars';

svg.svg-icon {
	display: block;

	&-trashcan,
	&-add-circle,
	&-remove-circle,
	&-edit,
	&-star,
	&-search {
		* {
			stroke: @color-lightblue;
		}
	}

	&-user {
		* {
			fill: white;
		}
	}

	&-star-filled {
		* {
			fill: #f8e71c;
		}
	}
}

// Prevent duplicate title on mouse tooltip
button > svg,
button > svg > path,
button > svg > title {
	pointer-events: none;
}
