apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-bruker-service-dev
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  azure:
    application:
      enabled: true
      tenant: nav.no
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: dolly-backend-dev
        - application: dolly-frontend-dev
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
    outbound:
      rules:
        - application: testnav-altinn3-tilgang-service
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  envFrom:
    - secret: user-encryption-dev
  replicas:
    min: 1
    max: 1
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: testnav-bruker-service-dev-db
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
  ingresses:
    - "https://testnav-bruker-service-dev.intern.dev.nav.no"
