ALTINN_URL: https://tt02.altinn.no

TOKEN_X_ISSUER: dummy
OKEN_X_JWKS_URI: dummy
TOKEN_X_CLIENT_ID: dummy
ALTINN_API_KEY: dummy

MASKINPORTEN_CLIENT_ID: dummy
MASKINPORTEN_CLIENT_JWK: dummy
MASKINPORTEN_SCOPES: dummy
MASKINPORTEN_WELL_KNOWN_URL: dummy

spring:
  config:
    import: "sm://"
  security:
    oauth2:
      resourceserver:
        aad:
          accepted-audience: ${sm://azure-app-client-id}, api://${sm://azure-app-client-id}