#home-container {
  width: 100%;

  #home-container-header {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;

    #home-container-header-title {
      width: 50%;
    }

    #home-container-header-button {
      width: 50%;
    }
  }

  #first-row{
    display: flex;
    flex-direction: row;

    #first-column, #second-column, #third-column {
       width: 33%;

      .input-text-field-container {
         text-align: center;
       }
     }
  }


}