apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-organisasjon-faste-data-service
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: dolly-idporten
        - application: team-dolly-lokal-app
        - application: testnav-faste-data-frontend
        - application: testnav-oversikt-frontend
        - application: testnav-synt-vedtakshistorikk-service
        - application: testnorge-statisk-data-forvalter
          cluster: dev-fss
        - application: testnav-levende-arbeidsforhold-ansettelse
          cluster: dev-gcp
    outbound:
      rules:
        - application: organisasjon-bestilling-service
          cluster: dev-gcp
        - application: logging
          namespace: nais-system
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: testnav-organisasjon-faste-data-db
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  kafka:
    pool: nav-dev
  envFrom:
    - secret: google-sql-testnav-organisasjon-faste-data-service
  ingresses:
    - "https://testnav-organisasjon-faste-data-service.intern.dev.nav.no"
