DOLLY_READER_TOKEN: dummy

spring:
  config:
    import: "sm://"
  flyway:
    url: jdbc:postgresql://localhost:3306/testnav-app-tilgang-analyse-service-db
    user: testnav-app-tilgang-analyse-service
    password: ${DB_PASSWORD}
  r2dbc:
    url: r2dbc:postgresql://localhost:3306/testnav-app-tilgang-analyse-service-db
    username: testnav-app-tilgang-analyse-service
    password: ${DB_PASSWORD}
