@import (reference) '~lessVars';

.person-visning {
	&_content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 10px;

		.title-value {
			margin-bottom: 10px;
		}
	}
	&_actions {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 5px 0 10px 0;
		button {
			margin-left: 10px;
		}
	}
	&_redigerbar {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}

