spring:
  main:
    web-application-type: reactive
  application:
    name: testnav-levende-arbeidsforhold-service
    version: 1
    description: App for å avslutte arbeidsforhold ved dødsfall.
  config:
    import: "dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
  kafka:
    consumer:
      group-id: testnav-levende-arbeidsforhold-service

consumers:
  testnav-dolly-proxy:
    name: testnav-dolly-proxy
    namespace: dolly
    url: https://testnav-dolly-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
