@import '~react-select/less/select';
@import (reference) '~lessVars';

// override to make sure Select-dropdown is placed in front.
.Select-menu-outer {
	z-index: 3;
}

.dollyselect {
	min-width: @default-input-size;

	&.small {
		width: @default-input-size-small;
	}

	&.medium {
		width: @default-input-size-medium;
	}

	&.large {
		width: @default-input-size-large;
	}

	&.xlarge {
		width: @default-input-size-xlarge;
	}

	&-input .Select .Select-control {
		outline: 0;
		border-radius: 4px;
	}

	&-input .Select.is-focused .Select-control {
		outline: 0;
		border-radius: 1px solid @navGra40;
		box-shadow: 0 0 0 3px @color-focus !important;
		overflow: visible;
	}

	.Select-control:hover {
		border-color: @color-lightblue;
	}

	&.error .Select-control {
		border-color: @color-error-border !important;
		background-color: @color-error-background;
	}

	.VirtualSelectGrid {
		z-index: 3;
	}

	.VirtualizedSelectOption {
		text-overflow: ellipsis;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 0.5rem;
		cursor: pointer;
	}
	.VirtualizedSelectFocusedOption {
		background-color: rgba(0, 126, 255, 0.1);
	}
	.VirtualizedSelectDisabledOption {
		opacity: 0.5;
	}
	.VirtualizedSelectSelectedOption {
		font-weight: bold;
	}
}
