.navigation {
  &__button {
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;

    &[aria-current='page'] {
      background: var(--ax-bg-neutral-moderate);
      border-color: var(--ax-border-neutral);
    }
  }
}