.navigation {
	&__button {
		width: 100%;
		justify-content: flex-start;
		text-align: left;
		text-decoration: none;
		white-space: nowrap;

		&[aria-current='page'] {
			background: var(--ax-bg-accent-moderate);
			text-decoration: underline;
			text-decoration-thickness: var(--ax-space-2);
			text-underline-offset: var(--ax-space-4);
		}
	}
}
