spring:
  config:
    import: "classpath:dolly-application.yml"
  jpa:
    properties:
      hibernate:
        id:
          db_structure_naming_strategy: legacy
  application:
    name: testnav-inntektsmelding-service
    description: Tjeneste for sende inntektsmelding til dokarkiv.
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}

consumers:
  inntektsmelding-generator-service:
    url: http://testnav-inntektsmelding-generator-service.dolly.svc.cluster.local
    name: testnav-inntektsmelding-generator-service
    cluster: dev-gcp
    namespace: dolly
  testnav-dolly-proxy:
    url: https://testnav-dolly-proxy.dev-fss-pub.nais.io
    name: testnav-dolly-proxy
    cluster: dev-fss
    namespace: dolly