AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b
spring:
  jpa:
    properties:
      hibernate:
        id:
          db_structure_naming_strategy: legacy
  main:
    banner-mode: off
  application:
    name: testnav-inntektsmelding-service
    description: Tjeneste for sende inntektsmelding til dokarkiv.
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs

consumers:
  inntektsmelding-generator-service:
    url: http://testnav-inntektsmelding-generator-service.dolly.svc.cluster.local
    name: testnav-inntektsmelding-generator-service
    cluster: dev-gcp
    namespace: dolly
  testnav-dokarkiv-proxy:
    url: https://testnav-dokarkiv-proxy.dev-fss-pub.nais.io
    name: testnav-dokarkiv-proxy
    cluster: dev-fss
    namespace: dolly

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping:
        prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
server:
  error:
    include-message: always
  servlet:
    encoding:
      charset: UTF-8