spring:
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_TESTNAV_INNTEKTSMELDING_SERVICE_TESTNAV_INNTEKTSMELDING_SERVICE_DB_HOST}:${NAIS_DATABASE_TESTNAV_INNTEKTSMELDING_SERVICE_TESTNAV_INNTEKTSMELDING_SERVICE_DB_PORT}/${NAIS_DATABASE_TESTNAV_INNTEKTSMELDING_SERVICE_TESTNAV_INNTEKTSMELDING_SERVICE_DB_DATABASE}?user=${NAIS_DATABASE_TESTNAV_INNTEKTSMELDING_SERVICE_TESTNAV_INNTEKTSMELDING_SERVICE_DB_USERNAME}&password=${NAIS_DATABASE_TESTNAV_INNTEKTSMELDING_SERVICE_TESTNAV_INNTEKTSMELDING_SERVICE_DB_PASSWORD}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 0
  flyway:
    locations: classpath:db/migration
    enabled: true
  jpa:
    database: POSTGRESQL
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}
