spring:
  config:
    import: "sm://"
  h2:
    console:
      enabled: true
      path: /h2
  flyway:
    enabled: true
  datasource:
    url: jdbc:h2:mem:testdb?useUnicode=yes&characterEncoding=UTF-8
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

consumers:
  inntektsmelding-generator-service:
    url: https://testnav-inntektsmelding-generator-service.intern.dev.nav.no