apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-altinn3-tilgang-proxy
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "2400"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "2400"
spec:
  image: "{{image}}"
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
        - application: dolly-frontend
        - application: dolly-idporten
        - application: testnav-bruker-service
        - application: testnorge-profil-api
    outbound:
      external:
        - host: testnav-altinn3-tilgang-service.nav.no
      rules:
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-altinn3-tilgang-proxy.intern.dev.nav.no"
