spring.application:
  version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
  name: testnorge-synt-sykemelding-api
  description: Api for opprettelse av syntetiske sykemeldinger

AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

consumers:
  hodejegeren:
    url: https://testnorge-hodejegeren.dev.adeo.no
  synt-sykemelding:
    url: https://synthdata-elsam-gcp.dev.intern.nav.no
    name: synthdata-elsam-gcp
    cluster: dev-gcp
    namespace: dolly
  sykemelding:
    url: https://testnorge-sykemelding-api.dev.adeo.no
  testnav-organisasjon-service:
    url: https://testnav-organisasjon-service.dev.intern.nav.no
    name: testnav-organisasjon-service
    cluster: dev-gcp
    namespace: dolly
  testnav-arbeidsforhold-service:
    url: https://testnav-arbeidsforhold-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-arbeidsforhold-service
  testnav-helsepersonell-service:
    url: https://testnav-helsepersonell-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-helsepersonell-service