@import (reference) '~lessVars';


header.blank-header {
  background-color: @color-nav-black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 0;

  .home-nav {
    display: flex;
    align-items: center;
    text-decoration: none;

    .img-logo {
      width: 128px;
      text-align: center;
      border-right: 2px solid #88b1d6;

      img {
        height: 30px;
      }
    }

    h1 {
      display: inline-block;
      margin: 0;
      padding-left: 10px;
      font-size: 1.6rem;
      color: white;
    }
  }
}

.dollysheep {
  margin-left: 10px;
  margin-top: 2px;
}
