@import (reference) '~lessVars';


header.app-header {
  background-color: @color-nav-black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;

  .home-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: -10px;
  }

}

.dollysheep {
  margin-left: 10px;
  margin-top: 2px;
}
