---
apiVersion: nais.io/v1
kind: AzureAdApplication
metadata:
  name: testnav-pdl-proxy-trygdeetaten
  namespace: dolly
  labels:
    team: dolly
spec:
  secretName: azure-trygdeetaten-testnav-pdl-proxy-trygdeetaten
  secretKeyPrefix: "AZURE_TRYGDEETATEN"
  tenant: trygdeetaten.no
---
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-pdl-proxy
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "240"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "240"
    nginx.ingress.kubernetes.io/proxy-body-size: "8m"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8m"
    nginx.ingress.kubernetes.io/client-body-buffer-size: "8m"
spec:
  image: "{{image}}"
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: testnav-adresse-service
          cluster: dev-gcp
        - application: testnav-pdl-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter-dev
          cluster: dev-gcp
        - application: testnav-person-service
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-gcp
        - application: dolly-backend-dev
          cluster: dev-gcp
        - application: testnav-synt-vedtakshistorikk-service
          cluster: dev-gcp
        - application: testnav-synt-sykemelding-api
          cluster: dev-gcp
        - application: testnav-synt-sykemelding-api-dev
          cluster: dev-gcp
        - application: testnav-levende-arbeidsforhold-ansettelse
          cluster: dev-gcp
        - application: testnav-dolly-search-service
          cluster: dev-gcp
        - application: testnav-dolly-search-service-dev
          cluster: dev-gcp
        - application: testnav-tenor-search-service
          cluster: dev-gcp
    outbound:
      rules:
        - application: pdl-testdata
          cluster: dev-fss
          namespace: pdl
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  envFrom:
    - secret: azure-trygdeetaten-testnav-pdl-proxy-trygdeetaten
    - secret: testnav-pdl-proxy
  ingresses:
    - "https://testnav-pdl-proxy.dev-fss-pub.nais.io"
