apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-miljoer-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  webproxy: true
  tracing:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-frontend
          cluster: dev-fss
        - application: dolly-frontend
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-fss
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-fss
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: testnorge-aareg
          cluster: dev-fss
        - application: organisasjon-orgnummer-service
          cluster: dev-fss
        - application: testnav-organisasjon-forvalter
          cluster: dev-gcp
        - application: testnav-faste-data-frontend
          cluster: dev-gcp
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
    outbound:
      external:
        - host: tps-forvalteren-proxy.dev-fss-pub.nais.io
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
      replyURLs:
        - "https://testnav-miljoer-service.dev.intern.nav.no/login/oauth2/code/aad"
        - "https://miljoer-service.dev.intern.nav.no/login/oauth2/code/aad"
        - "http://localhost:8080/login/oauth2/code/aad"
  liveness:
    path: /internal/isAlive
    initialDelay: 30
    periodSeconds: 30
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 30
    failureThreshold: 500
  replicas:
    min: 2
    max: 2
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://miljoer-service.dev.intern.nav.no"
    - "https://testnav-miljoer-service.dev.intern.nav.no"
