@import (reference) '~lessVars';

.removable-column {
    display: flex;
    margin: 3px 0;
}

.removable-body-hover {
    background-color: @color-bg-grey-border;
}

.removable-button {
    display: flex;
    align-items: center;
    margin: 0 5px;
}