apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-organisasjon-forvalter
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1200"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "1200"
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-fss
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: dolly-frontend
          cluster: dev-fss
        - application: dolly-frontend
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-fss
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: testnorge-statisk-data-forvalter
          cluster: dev-fss
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-pdl-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter-dev
          cluster: dev-gcp
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
    outbound:
      rules:
        - application: organisasjon-bestilling-service
          cluster: dev-gcp
        - application: generer-navn-service
          cluster: dev-gcp
        - application: testnav-adresse-service
          cluster: dev-gcp
        - application: testnav-organisasjon-service
          cluster: dev-gcp
        - application: testnav-miljoer-service
          cluster: dev-gcp
        - application: testnav-pdl-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter-dev
          cluster: dev-gcp
      external:
        - host: https://organisasjon-orgnummer-service.dev-fss-pub.nais.io
  gcp:
    sqlInstances:
      - type: POSTGRES_12
        databases:
          - name: organisasjon-forvalter-db
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 2
    max: 2
  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      cpu: 500m
      memory: 2000Mi
  ingresses:
    - "https://testnav-organisasjon-forvalter.dev.intern.nav.no"
  kafka:
    pool: nav-dev
  envFrom:
    - secret: google-sql-testnav-organisasjon-forvalter