apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-organisasjon-forvalter
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1200"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "1200"
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: dolly-backend
        - application: dolly-backend-dev
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: dolly-idporten
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
        - application: testnav-pdl-forvalter
        - application: testnav-pdl-forvalter-dev
        - application: testnorge-statisk-data-forvalter
          cluster: dev-fss
    outbound:
      rules:
        - application: generer-navn-service
        - application: organisasjon-bestilling-service
        - application: testnav-adresse-service
        - application: testnav-miljoer-service
        - application: testnav-organisasjon-service
        - application: testnav-orgnummer-service
        - application: testnav-tps-messaging-service
        - application: logging
          namespace: nais-system
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: organisasjon-forvalter-db
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 2
  resources:
    requests:
      cpu: 100m
      memory: 1024Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-organisasjon-forvalter.intern.dev.nav.no"
  kafka:
    pool: nav-dev
  envFrom:
    - secret: google-sql-testnav-organisasjon-forvalter
    - secret: user-encryption-prod