apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-batch-bestilling-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{image}}
  port: 8080
  webproxy: true
  tracing:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
    outbound:
      rules:
        - application: dolly-backend
  azure:
    application:
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/isAlive
    initialDelay: 30
    periodSeconds: 30
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 30
    failureThreshold: 500
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://testnav-batch-bestilling-service.dev.intern.nav.no"
