apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-batch-bestilling-service
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
    outbound:
      rules:
        - application: dolly-backend
        - application: dolly-backend-dev
        - application: logging
          namespace: nais-system
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/health/liveness
    initialDelay: 30
    periodSeconds: 30
    failureThreshold: 10
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
    failureThreshold: 10
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 600Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-batch-bestilling-service.intern.dev.nav.no"
