.ny-ident-form {
	&_selects {
		display: flex;
		padding: 20px 0 0;
	}

	&_maler {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #eee;
		margin: 10px -20px;
		padding-top: 10px;

		h4 {
			margin-left: 20px;
		}
		> div {
			display: flex;
			flex-direction: row;
			margin: 0 20px;
		}
	}
}
