.subkategori {
	padding-bottom: 10px;

	h4 {
		margin: 15px 0 10px 0;
	}

	// p {
	// 	color: red;
	// 	size: 12px;
	// }

	.subkategori-field-group {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		.skjemaelement {
			margin-right: 50px;

			&.static {
				label {
					font-size: 0.75em;
					text-transform: uppercase;
				}
				span {
					display: block;
					padding: 0.45rem 0;
					min-width: 200px;
				}
			}
		}

		.field-group-remove {
			margin-top: 15px;
			align-self: center;
		}

		.postadresse-group {
			width: 350px;
			// display: flex;
			// flex-wrap: nowrap;
		}
	}

	.ingen-verdi-melding {
		margin-bottom: 10px;
	}
}

.add-buttons-container {
	display: flex;

	.dolly-button {
		margin-right: 20px;
	}
}
