<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="APP_VERSION" source="APP_VERSION"/>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"version":"${APP_VERSION}"}</customFields>
            <fieldNames>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="Sporingslogger" level="INFO" logger="stdout_json"/>

    <logger name="no.nav.drek" level="INFO" additivity="false">
        <appender-ref ref="stdout_json"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>
</configuration>