@import '~nav-frontend-core/less/_variabler';

.code-view {

  display: flex;
  &__code{
    background: @navLysGra;
    display: flex;
    width: 100%;
    padding: 3px;
    min-height: 400px;
    margin: 0 10px;
  }
}