spring:
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: http://tokendings:8080
          accepted-audience: dev-gcp:dolly:testnav-bruker-service
  r2dbc:
    url: r2dbc:postgresql://testnav-bruker-service-db:5432/compose-postgres
    username: compose-postgres
    password: compose-postgres
  flyway:
    url: jdbc:postgresql://testnav-bruker-service-db:5432/compose-postgres
    username: compose-postgres
    password: compose-postgres

consumers:
  testnav-altinn3-tilgang-service:
    url: http://testnav-altinn3-tilgang-service:8080
    cluster: dev-gcp
    namespace: dolly
    name: testnav-altinn3-tilgang-service