@import (reference) '~lessVars';

@headerHoverColor: lighten(@color-darkblue, 7%);
@borderColor: lighten(@color-darkblue, 40%);

#dolly-header {
	background-color: @color-darkblue;
	color: white;
	display: flex;
	padding: 5px 0;
	align-items: center;
	justify-content: space-between;

	.home-nav {
		padding: 10px;
		display: flex;
		align-items: center;
		text-decoration: none;

		img {
			height: 30px;
			margin-right: 20px;
		}

		h1 {
			display: inline-block;
			margin: 0;
			border-left: 2px solid @borderColor;
			padding-left: 20px;
			color: white;
		}
	}

	.menu-links a {
		color: white;
		text-decoration: none;
		font-weight: bold;
		padding: 5px 10px;
		margin: 10px;
		font-size: 1.2em;
		&:hover {
			background-color: @headerHoverColor;
		}
	}

	#header-user-name {
		padding: 10px 10px 10px 20px;
		border-left: 2px solid @borderColor;
		svg {
			vertical-align: bottom;
			margin-right: 5px;
		}

		a {
			color: white;
			text-decoration: none;
			padding: 5px 10px;

			&:hover {
				background-color: @headerHoverColor;
			}
		}
	}
}
