@import '~nav-frontend-core/less/_variabler';
//TODO Finn ut hvordan man kan bare importere denne et sted å lage variabler jeg kan bruke overalt.

#dolly-header {
	background-color: @navBlaDarken60;
	color: white;
	display: flex;
	padding: 10px 10%;
	align-items: center;
	justify-content: space-between;

	.home-nav {
		padding: 10px;
		display: flex;
		align-items: center;
		text-decoration: none;

		img {
			height: 30px;
			margin-right: 20px;
		}

		h1 {
			display: inline-block;
			margin: 0;
			border-left: 2px solid #8ca6b0;
			padding-left: 20px;
			color: white;
		}
	}

	.menu-links a {
		color: white;
		text-decoration: none;
		font-weight: bold;
		padding: 5px 10px;
		margin: 10px;
		font-size: 1.2em;
		&:hover {
			background-color: #3e6386;
		}
	}

	#header-user-name {
		padding: 10px 10px 10px 20px;
		border-left: 2px solid #8ca6b0;
		i {
			margin-right: 5px;
		}
	}
}
