@import (reference) '~lessVars';

@blokk_bg: #f7f7f7;
@blokk_border: #eee;

.dfa {
	width: 100%;

	.hjelpetekst {
		height: 1.25rem;
		width: 1.25rem;
	}
}

.dfa-blokk-number {
	background-color: @color-faded-blue;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 2px 6px;
	font-size: 0.8rem;
	margin-right: 10px;
}

.dfa-blokk {
	padding: 0 10px 10px;
	margin-bottom: 10px;
	width: 100%;

	&:nth-child(even) {
		border-left: 2px solid @blokk_border;
		background-color: @blokk_bg;
		// Nested blokk background
		.dfa-blokk-nested .dfa-blokk_content {
			background-color: white;
		}
	}
	&:nth-child(odd) {
		border-left: 2px solid @blokk_border;
		// Nested blokk background
		.dfa-blokk-nested .dfa-blokk_content {
			background-color: #f7f7f7;
		}
	}

	.dfa-header-og-content();
}

.dfa-blokk-org-odd {
	padding: 0 10px 10px;
	margin-bottom: 10px;
	width: 100%;
	background-color: @navLysGra;

	.dfa-header-og-content();
}

.dfa-blokk-org-even {
	padding: 0 10px 10px;
	margin-bottom: 10px;
	width: 100%;
	background-color: white;

	.dfa-header-og-content();
}

.dfa-header-og-content {
	& > &_header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ccc;
		h2 {
			font-size: 1rem;
			margin: 10px 0;
		}

		button {
			margin-left: auto;
		}

		&.clickable {
			cursor: pointer;
		}
	}

	&_content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-top: 10px;
	}
}

// NESTED
.dfa .dfa {
	margin: 0 0 0 10px;
}

.dfa-blokk-nested {
	display: flex;
	width: 100%;
	margin-bottom: 10px;

	&_title {
		display: flex;
		align-items: center;
	}

	.dfa-blokk_content {
		background-color: @blokk_bg;
		position: relative;
		padding: 10px;
		border-radius: 4px;

		// Delete button
		button {
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
}
