@import (reference) '~lessVars';

.person-info-block {
	padding: 3px 6px;

	&_multiple {
		margin: 0;
		margin-bottom: 8px;
	}

	&_content {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 8px;

		&.bottom-border {
			padding-bottom: 3px;
			border-bottom: 1px solid #d3dee3;
		}

		.static-value {
			margin-bottom: 10px;
		}
	}
}

.person-info-subItems {
	padding-left: 50px;

	h3 {
		font-size: 1em;
		background-color: red; //@color-bg-divider;
		padding: 6px 6px 6px 6px;
		margin: 8px 0 10px 0px;
	}

	.subitems {
		display: flex;
		padding-bottom: 15px;
	}
	&.bottom-border {
		padding-bottom: 3px;
		border-bottom: 1px solid #d3dee3;
		margin-bottom: 8px;
	}
}
