@import (reference) '~lessVars';

// DOllyTable
.dot {
  line-height: 1;
  font-size: 1rem;

  .dot-column {
    padding-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col10 {
    width: 10%;
  }

  .col15 {
    width: 15%;
  }

  .col20 {
    width: 20%;
  }

  .col25 {
    width: 25%;
  }

  .col30 {
    width: 30%;
  }

  .col35 {
    width: 35%;
  }

  .col40 {
    width: 40%;
  }

  .col45 {
    width: 45%;
  }

  .col50 {
    width: 50%;
  }

  .col55 {
    width: 55%;
  }

  .col60 {
    width: 60%;
  }

  .col65 {
    width: 65%;
  }

  .col70 {
    width: 70%;
  }

  .col75 {
    width: 75%;
  }

  .col80 {
    width: 80%;
  }

  .col85 {
    width: 85%;
  }

  .col90 {
    width: 90%;
  }

  .col95 {
    width: 95%;
  }

  .centerItem {
    justify-content: center;
  }

  @rowPadding: 10px;
  @iconWidth: 50px;

  .dot-header {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding: @rowPadding;
    border: 1px solid @color-bg-grey-border;

    &.has-icon {
      padding-left: calc(@rowPadding + @iconWidth);
    }

    .dot-column {
      color: @color-nav-black;
      font-weight: bold;
      font-size: 16px;

      &.dot-icon {
        width: @iconWidth;
      }

      &.sortable {
        display: flex;
        cursor: pointer;
      }
    }
  }

  .dot-body-row-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid white; // prevent jumping
    border: 1px solid @color-bg-grey-border;

    &.expanded {
      border: 1px solid @color-focus;
      box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);

      .dot-body-row {
        box-shadow: 0px 1px 4px #ccc;
      }
    }

    .dot-body-row {
      display: flex;

      &.clickable {
        cursor: pointer;
      }

      &-columns {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding-right: 10px;
        min-height: 50px;

        .dot-icon-wrapper {
          background-color: #e9ecef;
          display: flex;
          align-items: center;
          justify-content: center;
          width: @iconWidth;
          margin-right: 10px;
        }
      }

      &-actioncolumn {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;

        .dolly-button svg {
          vertical-align: middle;
        }
      }

      &:hover {
        border-color: @color-lightblue;
      }
    }
  }

  &-expandcomponent {
    margin: 10px 20px;
  }
}
