AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    name: testnav-person-faste-data-service
    description: Tjeneste for å bestille og holde kontroll på faste data
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-gcp:dolly:testnav-person-faste-data-service

testnav:
  config:
    hosts:
      - testnav-person-faste-data-service.dev.intern.nav.no
      - testnav-person-faste-data-service.dolly.svc.cluster.local