apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnav-inst-service
  namespace: dolly
  labels:
    team: dolly
spec:
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  liveness:
    path: /internal/isAlive
    periodSeconds: 30
    initialDelay: 30
  readiness:
    path: /internal/isReady
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/prometheus
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  image: {{ image }}
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: dolly-frontend
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-fss
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
    outbound:
      external:
        - host: https://testnav-inst-proxy.dev-fss-pub.nais.io
  azure:
    application:
      enabled: true
      tenant: nav.no
  ingresses:
    - "https://testnav-inst-service.dev.intern.nav.no"