AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b


consumers:
  adresse-service:
    url: https://testnav-adresse-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-adresse-service
  generer-navn-service:
    url: https://generer-navn-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: generer-navn-service
  pdl-service:
    url: https://testnav-pdl-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
    namespace: dolly
    name: testnav-pdl-proxy
  ident-pool:
    url: https://testnav-ident-pool.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-ident-pool
  org-forvalter:
    url: https://testnav-organisasjon-forvalter.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-forvalter
  geografiske-kodeverk-service:
    url: https://testnav-geografiske-kodeverk-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-geografiske-kodeverk-service

spring:
  datasource:
    testOnBorrow: true
    validationQuery: select 1

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping.prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
    health:
      show-details: always
      show-components: always
  metrics.export:
    prometheus.enabled: true
server:
  servlet:
    encoding:
      charset: UTF-8