azure.app.client.id: ${client_id}
azure.app.client.secret: ${client_secret}

spring:
  application:
    name: testnav-pdl-forvalter
  cloud:
    vault:
      host: vault.adeo.no
      port: 443
      fail-fast: true
      connection-timeout: 15000
      read-timeout: 30000
      generic:
        enabled: false
      database:
        backend: postgresql/preprod-fss
        enabled: true
        role: pdl-forvalter-test-admin
  flyway:
    enabled: true # Disabled by default as you should probably think twice before running Flyway-migrations
    locations: classpath:db/migration
    baseline-on-migrate: true
  datasource:
    url: jdbc:postgresql://dev-pg.intern.nav.no:5432/pdl-forvalter-test
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default-schema: public
        dialect: no.nav.pdl.forvalter.database.PostgreSQLDialectExtended
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-gcp:dolly:testnav-pdl-forvalter-dev
