AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b


consumers:
  adresse-service:
    url: https://testnav-adresse-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-adresse-service
  generer-navn-service:
    url: https://generer-navn-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: generer-navn-service
  pdl-service:
    url: https://testnav-pdl-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
    namespace: dolly
    name: testnav-pdl-proxy
  ident-pool:
    url: https://testnav-ident-pool-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
    namespace: dolly
    name: testnav-ident-pool-proxy
  org-forvalter:
    url: https://testnav-organisasjon-forvalter.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-forvalter
  geografiske-kodeverk-service:
    url: https://testnav-geografiske-kodeverk-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-geografiske-kodeverk-service

spring:
  datasource:
    testOnBorrow: true
    validationQuery: select 1

server:
  servlet:
    encoding:
      charset: UTF-8