consumers:
  adresse-service:
    url: http://testnav-adresse-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnav-adresse-service
  generer-navn-service:
    url: http://generer-navn-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: generer-navn-service
  testnav-dolly-proxy:
    url: https://testnav-dolly-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
    namespace: dolly
    name: testnav-dolly-proxy
  ident-pool:
    url: http://testnav-ident-pool.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnav-ident-pool
  org-forvalter:
    url: http://testnav-organisasjon-forvalter.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-forvalter
  kodeverk-service:
    url: http://testnav-kodeverk-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnav-kodeverk-service
  person-service:
    url: http://testnav-person-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnav-person-service

spring:
  config:
    import: "classpath:dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}

management:
  health:
    elasticsearch:
      enabled: false