apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-profil-api-dev
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  port: 8080
  tracing:
    enabled: true
  envFrom:
    - secret: user-encryption-dev
  accessPolicy:
    inbound:
      rules:
        - application: testnorge-tilbakemelding-api
          cluster: dev-gcp
        - application: endringsmelding-frontend
          cluster: dev-gcp
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: dolly-frontend-dev
          cluster: dev-fss
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: testnav-faste-data-frontend
          cluster: dev-gcp
        - application: app-1
          cluster: dev-gcp
          namespace: plattformsikkerhet
    outbound:
      rules:
        - application: testnav-person-organisasjon-tilgang-service-dev
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://testnorge-profil-api-dev.dev.intern.nav.no"