apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-profil-api-dev
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: ALTINN3_TILGANG_NAME
      value: testnav-altinn3-tilgang-service
    - name: ALTINN3_TILGANG_URL
      value: https://testnav-altinn3-tilgang-service.intern.dev.nav.no
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  port: 8080
  envFrom:
    - secret: user-encryption-dev
  accessPolicy:
    inbound:
      rules:
        - application: dolly-backend-dev
        - application: dolly-frontend-dev
        - application: team-dolly-lokal-app
        - application: testnav-endringsmelding-frontend
        - application: testnav-faste-data-frontend
        - application: testnav-oversikt-frontend
        - application: testnorge-tilbakemelding-api
    outbound:
      rules:
        - application: testnav-altinn3-tilgang-service
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 10m
      memory: 800Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnorge-profil-api-dev.intern.dev.nav.no"