apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-varslinger-service-dev
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  webproxy: true
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend-dev
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
    outbound:
      rules:
        - application: logging
          namespace: nais-system
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: testnav-varslinger-db-dev
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  envFrom:
    - secret: user-encryption-dev
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
  resources:
    requests:
      cpu: 20m
      memory: 600Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-varslinger-service-dev.intern.dev.nav.no"
