<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="test">
        <include resource="logback-spring-console.xml"/>
    </springProfile>

    <logger level="TRACE" name="no.nav.testnav.libs.reactivecore.filter.RequestLogger" />
    <logger level="TRACE" name="no.nav.testnav.apps.brukerservice.controller.BrukerController" />
</configuration>