.dolly-link-button {
	padding: 5px 0;
	font-size: 0.9rem;
	margin-right: 10px;
	display: inline-block;
}

.dolly-link-button-disabled {
	&:extend(.dolly-link-button all);
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
