@import '~nav-frontend-core/less/_variabler';

.page-with-menu {
  display: flex;
  min-height: 600px;
}

.container--left {

  display: flex;
  padding-left: 20px;
  flex-direction: column;
  width: 350px;
  border-right: solid 1px @navGra20;


  h3 {
    margin: 10px 0;
    text-decoration: underline;
  }

  h4 {
    margin-right: 20px;
    margin-bottom: 5px;
    align-self: center;
  }

  input {
    width: 90%;
    height: 20px;
  }

  a {
    font-size: 1.2em;
    padding: 8px 0;
    background: #f1f1f1f1;
  }

  ul {
    list-style-type: none;
    margin: 0 10px;
    padding-left: 10px;
  }

  li {
    text-align: left;
    padding-left: 0;
  }
}

.container--right {
  text-align: center;
  margin-left: 50px;
  width: auto;
}