apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: dolly-backend
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-body-size: "512m"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "8m"

spec:
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend
        - application: dolly-idporten
        - application: etterlatte-testdata
          namespace: etterlatte
        - application: testnav-batch-bestilling-service
        - application: testnav-dollystatus
        - application: testnav-oversikt-frontend
        - application: testnav-tenor-search-service
    outbound:
      rules:
        - application: generer-navn-service
        - application: testnav-bruker-service
        - application: testnav-inntektsmelding-service
        - application: testnav-kodeverk-service
        - application: testnav-miljoer-service
        - application: testnav-organisasjon-forvalter
        - application: testnav-organisasjon-service
        - application: testnav-pdl-forvalter
        - application: testnav-person-service
        - application: testnav-skattekort-service
        - application: testnav-sykemelding-api
        - application: testnav-synt-sykemelding-api
        - application: testnav-tps-messaging-service
        - application: testnorge-profil-api
        - application: etterlatte-testdata
          namespace: etterlatte
        - application: logging
          namespace: nais-system
        - application: testnav-yrkesskade-proxy
        - application: testnav-nom-proxy
        - application: testnav-arbeidsplassencv-proxy
        - application: testnav-arbeidssoekerregisteret-proxy
        - application: testnav-sykemelding-proxy
      external:
        - host: testnav-arena-forvalteren-proxy.dev-fss-pub.nais.io
        - host: testnav-dolly-proxy.dev-fss-pub.nais.io
        - host: testnav-inst-proxy.dev-fss-pub.nais.io
        - host: testnav-krrstub-proxy.dev-fss-pub.nais.io
        - host: testnav-pdl-proxy.dev-fss-pub.nais.io
  webproxy: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
      claims:
        groups:
          - id: '2d7f1c0d-5784-4f81-8bb2-8f3a79f8f949' #everyone else
          - id: '9c7efec1-1599-4216-a67e-6fd53a6a951c' #admins
  image: "{{image}}"
  openSearch:
    instance: bestillinger
    access: admin
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  envFrom:
    - secret: user-encryption-prod
  replicas:
    min: 1
    max: 1
  port: 8080
  ingresses:
    - "https://dolly-backend.intern.dev.nav.no"
    - "https://dolly-backend.ekstern.dev.nav.no"
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 20
    failureThreshold: 900
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 20
    failureThreshold: 900
  prometheus:
    enabled: true
    path: /internal/metrics
  resources:
    requests:
      cpu: 1200m
      memory: 3072Mi
    limits:
      memory: 8192Mi
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-2-7680
        name: testnav-dolly-backend
        databases:
          - name: testnav-dolly-backend
        autoBackupHour: 2
