apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: dolly-backend-dev
  namespace: dolly
  labels:
    team: dolly
spec:
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: team-dolly-lokal-app
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
  webproxy: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  image: {{image}}
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
  replicas:
    min: 1
    max: 2
  port: 8080
  ingresses:
    - https://dolly-backend-dev.dev.adeo.no
    - https://dolly-backend-dev.dev.intern.nav.no
    - https://dolly-backend-dev.dev-fss-pub.nais.io
  liveness:
    path: /internal/isAlive
    initialDelay: 20
    periodSeconds: 2
    failureThreshold: 140
  readiness:
    path: /internal/isReady
    initialDelay: 20
    periodSeconds: 2
    failureThreshold: 140
  prometheus:
    enabled: true
    path: /internal/metrics
  resources:
    requests:
      cpu: 1000m
      memory: 1024Mi
    limits:
      cpu: 1500m
      memory: 2048Mi
  vault:
    enabled: true
    paths:
      - kvPath: /kv/preprod/fss/dolly-backend-dev/dolly
        mountPath: /var/run/secrets/nais.io/vault