apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-inntektsmelding-service
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-gcp
        - application: dolly-backend-dev
          cluster: dev-gcp
    outbound:
      rules:
        - application: testnav-inntektsmelding-generator-service
        - application: logging
          namespace: nais-system
      external:
        - host: testnav-inntektsmelding-generator-service.intern.dev.nav.no
        - host: testnav-dolly-proxy.dev-fss-pub.nais.io
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: testnav-inntektsmelding-service-db
  liveness:
    path: /internal/health/liveness
    periodSeconds: 30
    initialDelay: 30
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-inntektsmelding-service.intern.dev.nav.no"