apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: generer-navn-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-organisasjon-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-gcp
        - application: dolly-backend-dev
          cluster: dev-gcp
        - application: dolly-frontend
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: dolly-idporten
          cluster: dev-gcp
        - application: dolly-frontend-dev-unstable
          cluster: dev-gcp
        - application: testnorge-statisk-data-forvalter
          cluster: dev-fss
        - application: testnav-generer-organisasjon-populasjon-service
          cluster: dev-gcp
        - application: testnav-budpro-service
          cluster: dev-gcp
        - application: testnav-endringsmelding-service
          cluster: dev-gcp
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  observability:
    logging:
      destinations:
        - id: elastic
      autoInstrumentation:
        enabled: true
        runtime: java
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://generer-navn-service.intern.dev.nav.no"
