apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: generer-navn-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{image}}
  port: 8080
  tracing:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-organisasjon-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter
          cluster: dev-gcp
        - application: testnav-pdl-forvalter-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-fss
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: testnorge-statisk-data-forvalter
          cluster: dev-fss
        - application: testnav-generer-organisasjon-populasjon-service
          cluster: dev-gcp
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 2
    max: 2
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://generer-navn-service.dev.intern.nav.no"
