apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: testnav-ident-pool
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  webproxy: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  tokenx:
    enabled: true
  port: 8080
  ingresses:
    - "https://testnav-ident-pool.intern.dev.nav.no"
  liveness:
    path: /internal/health/liveness
    initialDelay: 30
    periodSeconds: 30
    failureThreshold: 3
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
    periodSeconds: 30
    failureThreshold: 3
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 50m
      memory: 2048Mi
    limits:
      memory: 4096Mi
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: testnav-endringsmelding-service
        - application: testnav-oversikt-frontend
        - application: testnav-pdl-forvalter
        - application: testnav-pdl-forvalter-dev
        - application: dolly-frontend
        - application: dolly-frontend-dev
    outbound:
      rules:
        - application: testnav-tps-messaging-service
          cluster: dev-gcp
        - application: logging
          namespace: nais-system
  gcp:
    sqlInstances:
      - type: POSTGRES_16
        tier: db-custom-2-7680
        name: testnav-identpool
        databases:
          - name: testnav-identpool
        autoBackupHour: 2