spring:
  application:
    name: testnav-saf-proxy
    description: Proxy for dokarkiv som legger på sikkerhet og redirecter til riktig miljø.
  config:
    import: "dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience: ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            response-timeout: 1200s

consumers:
  saf:
    url: http://saf-MILJOE.teamdokumenthandtering.svc.nais.local
    cluster: dev-fss
    name: saf-MILJOE
    namespace: teamdokumenthandtering