.oppskrift-page {
	margin-top: 30px;

	.input-fnr,
	.input-num-person {
		width: 200px;
		flex-grow: 0;
		margin-right: 20px;
	}

	.grunnoppsett {
		display: flex;
		margin-bottom: 20px;
		.static-value {
			flex-grow: 0;
			width: 200px;
		}
	}

	.oppsummering {
		background-color: white;
		padding: 20px;
		margin-bottom: 20px;

		.oppsummering-values {
			display: flex;
			flex-wrap: wrap;
			> * {
				min-width: 20%;
				margin-bottom: 15px;
			}
		}
	}

	.oppskrift-field {
		:not(:first-child) {
			margin-right: 5px;
		}
	}

	.oppskrift-field-group {
		display: flex;
		flex-wrap: 1;
		.skjemaelement {
			margin-right: 50px;
		}
	}

	.oppskrift-knapper {
		display: flex;
		flex-direction: row;

		:first-child {
			margin-right: auto;
		}

		&_right {
			margin-left: auto;

			:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}
