@import (reference) '@/styles/variables.less';

.gruppe-header {
	margin-top: 0;
	&__actions {
		display: flex;
		margin: 0px 10px;
		padding: 5px 0;
		button {
			margin-right: 5px;
			.aksel-label {
				font-size: var(--ax-font-size-small);
			}
		}
	}
	&__border {
		border-top: 1px solid #ccc;
	}
}

.gruppe-header-laast {
	margin-top: 0;
	background-color: #c6c2bf;
}
