@import (reference) '~lessVars';

.icon-item {
	background-color: #e9ecef;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	margin-right: 10px;
	&--man {
		background-color: #d1f3fc;
	}

	&--woman {
		background-color: #f5e9fc;
	}

	&--group {
		background-color: @color-faded-blue;
	}

	&--org {
		background-color: @navOransjeLighten60;
	}
}
