apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: tps-forvalteren-dev-proxy
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: PROXY_URL
      value: https://tps-forvalteren-dev.dev.adeo.no
  image: {{ image }}
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: endringsmelding-service
          cluster: dev-gcp
        - application: testnav-miljoer-service
          cluster: dev-gcp
        - application: testnav-person-service
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-fss
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-fss
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: import-fra-tpsf-service-dev
          cluster: dev-gcp
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://tps-forvalteren-dev-proxy.dev.intern.nav.no"
    - "https://tps-forvalteren-dev-proxy.dev-fss-pub.nais.io"
