apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-batch-adeo-proxy
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      tenant: nav.no
      enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: jenkins-batch-status-service
          cluster: dev-gcp
        - application: jenkins-batch-status-service
          cluster: dev-fss
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: organisasjon-bestilling-service
          cluster: dev-fss
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: organisasjon-mottak-service
          cluster: dev-fss
        - application: testnav-organisasjon-mottak-service
          cluster: dev-gcp
        - application: testnav-jenkins-batch-status-service
          cluster: dev-gcp
        - application: organisasjon-bestilling-service
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 4000Mi
    limits:
      cpu: 500m
      memory: 5000Mi
  ingresses:
    - "https://testnorge-batch-adeo-proxy.dev-fss-pub.nais.io"