apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: "testnav-budpro-service"
  namespace: "dolly"
  labels:
    "team": "dolly"
spec:
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
        - application: testnav-dollystatus
    outbound:
      rules:
        - application: generer-navn-service
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  image: "{{image}}"
  ingresses:
    - "https://testnav-budpro-service.intern.dev.nav.no"
  liveness:
    initialDelay: 45
    path: "/internal/health/liveness"
  prometheus:
    enabled: true
    path: "/internal/prometheus"
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    initialDelay: 45
    path: "/internal/health/readiness"
  replicas:
    min: 1
    max: 1