apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: organisasjon-mottak-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  webproxy: true
  azure:
    application:
      enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: testnorge-oversikt-frontend
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
    paths:
      - kvPath: /serviceuser/data/dev/srvtestnorge
        mountPath: /secret/serviceuser
  resources:
    requests:
      cpu: 200m
      memory: 4000Mi
    limits:
      cpu: 500m
      memory: 5000Mi
  ingresses:
    - "https://organisasjon-mottak-service.dev.intern.nav.no"