.bestilling-page {
	margin-top: 30px;
	margin-bottom: 100px;

	.stegindikator {
		margin-bottom: 20px;
	}

	.input-fnr,
	.input-num-person {
		width: 200px;
		flex-grow: 0;
		margin-left: 20px;
	}

	.grunnoppsett {
		display: flex;
		margin-bottom: 20px;
		.static-value {
			flex-grow: 0;
			width: 200px;
		}
	}

	.oppsummering {
		background-color: white;
		padding: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;

		h4 {
			margin: 0;
			padding: 10px 0;
		}

		.oppsummering-blokk {
			display: flex;
			flex-wrap: wrap;

			.static-value {
				flex-grow: 0;
				padding: 0;
			}

			.oppsummering-multifield {
				width: 100%;
			}

			> * {
				min-width: 160px;
				margin-bottom: 15px;
			}
		}
	}

	.subkategori {
		padding-bottom: 10px;

		h4 {
			margin: 0 0 10px;
		}

		.subkategori-field-group {
			display: flex;
			flex-wrap: wrap;
			.skjemaelement {
				margin-right: 50px;
			}
		}
	}

	.step-navknapper {
		display: flex;
		flex-direction: row;

		:first-child {
			margin-right: auto;
		}

		&--right {
			margin-left: auto;

			:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}
