spring:
  application:
    version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
    name: testnav-person-service
    description: API for opprettelse av personer
  config:
    import: "classpath:dolly-application.yml"
  management:
    health:
      elasticsearch:
        enabled: false
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
  jackson:
    serialization:
      write_dates_as_timestamps: false

consumers:
  testnav-dolly-proxy:
    url: https://testnav-dolly-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
    namespace: dolly
    name: testnav-dolly-proxy