
spring:
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          jwk-set-uri: ${TOKEN_X_JWKS_URI}
          accepted-audience: ${TOKEN_X_CLIENT_ID}