apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-tilbakemelding-api
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tracing:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend-dev
          cluster: dev-fss
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: dolly-frontend
          cluster: dev-fss
        - application: dolly-frontend
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
    outbound:
      rules:
        - application: testnorge-profil-api
      external:
        - host: slack.com
        - host: login.microsoftonline.com
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 2
    max: 2
  resources:
    requests:
      cpu: 200m
      memory: 4000Mi
    limits:
      cpu: 500m
      memory: 5000Mi
  envFrom:
    - secret: teamdolly-slack-secret
  ingresses:
    - "https://testnorge-tilbakemelding-api.dev.intern.nav.no"