apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-person-organisasjon-tilgang-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tokenx:
    enabled: true
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend
          cluster: dev-gcp
        - application: testnav-bruker-service
          cluster: dev-gcp
        - application: testnorge-profil-api
          cluster: dev-gcp
    outbound:
      external:
        - host: altinn.no
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  envFrom:
    - secret: altinn-prod
    - secret: maskinporten-dolly-dev-gcp
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://testnav-person-organisasjon-tilgang-service.dev.intern.nav.no"
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
    - name: ACCEPTED_AUDIENCE
      value: dev-gcp:dolly:testnav-person-organisasjon-tilgang-service
    - name: ALTINN_URL
      value: https://altinn.no
    - name: TOKENDINGS_URL
      value: https://tokendings.dev-gcp.nais.io