apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-synt-person-api
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  accessPolicy:
    inbound:
      rules:
        - application: mn-original-populasjon
        - application: testnorge-oversikt-frontend
        - application: team-dolly-lokal-app
          cluster: dev-fss
  azure:
    application:
      enabled: true
      tenant: nav.no
  port: 8080
  webproxy: true
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 4000Mi
    limits:
      cpu: 500m
      memory: 5000Mi
  ingresses:
    - "https://testnorge-synt-person-api.dev.adeo.no"
    - "https://testnorge-synt-person-api.dev.intern.nav.no"