// - Normalize.css
@import '~nav-frontend-core/less/core';
@import './variables';
@import './utils';

// TODO: rydd i shared styling
// shared stylings across pages
@import './shared/Rediger';
@import './shared/Oversikt';
@import './shared/Tooltip';

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: @color-bg-grey;
	color: @color-textbase;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2.5rem;
	margin: 40px 0 20px;
}

// NAV skjema override
.skjemaelement {
	.skjemaelement__input {
		width: 100%;
		padding: 7px 10px;
	}
	.skjemaelement__label {
		font-size: 0.75em;
		text-transform: uppercase;
	}

	.svg-icon {
		pointer-events: none;
		position: absolute;
		top: 9px;
		right: 8px;
	}

	&__staticvalue {
		padding: 0.45rem 0;
		min-width: 200px;
	}
}
