apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: brreg-stub
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  liveness:
    path: /isAlive
    periodSeconds: 30
    initialDelay: 30
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /isReady
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    limits:
      memory: 2048Mi
    requests:
      cpu: 200m
      memory: 1024Mi
  ingresses:
    - "https://brreg-stub.intern.dev.nav.no" # dev-fss
