/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
#dolly-header {
  width: 100vw;
  height: 6vh;
  padding: 15px 10px 15px 10px;
  background-color: #254b6d;
  color: white;
  display: flex;
  flex-direction: row;
}
#dolly-header .header-nav-clickable {
  flex: auto;
}
#dolly-header .header-nav-clickable h2 {
  margin: 0;
}
#dolly-header .logo-wrapper img {
  height: 40px;
}
#dolly-header #page-title {
  color: white;
  margin: 0 0 0 15px;
}
#dolly-header #header-icon-area {
  flex-grow: 0.05;
}
#dolly-header #header-title {
  flex-grow: 0.1;
  border-left: white solid 1px;
}
#dolly-header #header-navigation {
  flex-grow: 0.75;
}
#dolly-header #header-user-name {
  flex-grow: 0.70;
}
#dolly-header #header-user-icon {
  flex-grow: 0.30;
}
#dolly-header #header-user-icon i {
  font-size: 25px;
}
#dolly-header #header-user-area {
  flex-grow: 0.1;
  padding-left: 10px;
  padding-right: 10px;
  border-left: white solid 1px;
}
#dolly-header #header-dropdown {
  padding: 18px;
  padding-left: 30px;
}
