@import (reference) '~lessVars';

.bestilling-detaljer {
	.miljoe {
		display: flex;
		align-items: center;
		// justify-content: center;
		padding-bottom: 10px;
		min-width: 150px;
		p {
			font-size: 20px;
			margin: 0 0 0 6px;
			font-weight: 600;
			text-transform: capitalize;
		}
	}

	h3 {
		font-size: 1em;
		background-color: @color-bg-divider;
		padding: 6px 6px 6px 6px;
		margin: 8px 0;
	}

	// .person-details {
	// 	.dolly-button {
	// 		margin-left: 10px;
	// 	}
	// }
}
