@import (reference) '~lessVars';

.bestilling-detaljer {
	.error-header {
		background-color: @color-bg-divider;
		padding-left: 5px;
		margin: 8px 0;
		h3 {
			margin: 2px 0;
		}
	}

	.info-block {
		padding: 3px 6px;
		margin-bottom: 16px;
		flex-wrap: wrap;

		.static-value {
			flex: 0 0 320px;
		}
	}

	h3 {
		font-size: 1em;
		background-color: @color-bg-divider;
		padding: 6px;
		margin: 8px 0;
	}

	p {
		margin: 0 0 6px 0;
	}
}
