@import (reference) '~lessVars';

.dollyselect.error {
	.select__control {
		border-color: @color-error !important;
		background-color: @color-error-background;
	}
}

.flat-virtualized-item > div,
.grouped-virtualized-list-item > div {
	display: table;
}

.fast-option {
	line-height: 1.7em !important;
	vertical-align: middle;
	display: table-cell;
}
