<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod,local">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="no.nav.dolly.libs.logging.DollyLogstashEncoder">
                <includeMdcKeyName>bestillingId</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <springProfile name="localX">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <charset>UTF-8</charset>
                <pattern>
                    %d{HH:mm:ss.SSS} %highlight(%p) | %yellow(%logger{0}): %m%n
                </pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
