<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"log_type":"default"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>
    <logger name="no.nav.registre.testnorge.common.log.RequestLogger">
        <level value="TRACE" />
    </logger>
    <logger name="no.nav.registre.testnorge.common.log.ResponseLogger">
        <level value="TRACE" />
    </logger>
</configuration>