@import (reference) '~lessVars';

.dolly-button {
	border: none;
	border-bottom: 1px solid transparent;
	background: none;
	font-size: 24px;
	color: @color-lightblue;
	cursor: pointer;
	padding: 5px;
	vertical-align: middle;

	&:hover {
		border-color: @color-lightblue;
	}
}

.big-add-wrapper {
	position: sticky;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: @color-bg-grey;
	padding: 10px;

	&:sticky {
		border-top: 1px solid #ccc;
	}

	.big-add-button {
		border: none;
		background-color: @color-lightblue;
		cursor: pointer;
		padding: 5px;
		border-radius: 50%;
		display: block;
		margin: 0 auto;

		svg {
			display: block;
			path {
				stroke: white;
			}
		}

		&:hover {
			box-shadow: 1px 2px 7px #666;
		}
	}
}
