apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-fullmakt-proxy
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: dolly-frontend
          cluster: dev-gcp
        - application: dolly-idporten
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-gcp
        - application: dolly-backend-dev
          cluster: dev-gcp
    outbound:
      rules:
        - application: repr-fullmakt
          namespace: repr
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-fullmakt-proxy.dev-fss-pub.nais.io"