apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-generer-arbeidsforhold-populasjon-service
  namespace: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1200"
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
    outbound:
      rules:
        - application: oppsummeringsdokument-service
        - application: testnav-generer-organisasjon-populasjon-service
        - application: testnav-organisasjon-service
        - application: synthdata-amelding
      external:
        - host: testnav-hodejegeren-proxy.dev-fss-pub.nais.io
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 500m
      memory: 1024Mi
    limits:
      cpu: 800m
      memory: 2048Mi
  ingresses:
    - "https://testnav-generer-arbeidsforhold-populasjon-service.dev.intern.nav.no"
