---
apiVersion: nais.io/v1
kind: AzureAdApplication
metadata:
  name: testnav-krrstub-proxy-trygdeetaten
  namespace: dolly
  labels:
    team: dolly
spec:
  secretName: azure-trygdeetaten-testnav-krrstub-proxy
  secretKeyPrefix: "AZURE_TRYGDEETATEN"
  tenant: trygdeetaten.no
---
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-krrstub-proxy
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{image}}
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: dolly-frontend
          cluster: dev-gcp
        - application: dolly-frontend-dev
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: dolly-backend
          cluster: dev-fss
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: app-1
          namespace: plattformsikkerhet
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  vault:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  envFrom:
    - secret: azure-trygdeetaten-testnav-krrstub-proxy
  ingresses:
    - "https://testnav-krrstub-proxy.dev.intern.nav.no"
    - "https://testnav-krrstub-proxy.dev-fss-pub.nais.io"