spring:
  application:
    version: application.version.todo
    name: testnav-synt-vedtakshistorikk-service
    description: App som genererer syntetisk vedtakshistorikk(er), tilknytter dataen til testnorge ident(er) og sender historikken(e) til arena-forvalteren.
  config:
    import: "dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}

management:
  health:
    elasticsearch:
      enabled: false

consumers:
  synt-vedtakshistorikk:
    url: http://synthdata-arena-vedtakshistorikk.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: synthdata-arena-vedtakshistorikk
  synt-dagpenger:
    url: http://synthdata-arena-dagpenger.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: synthdata-arena-dagpenger
  testnav-dolly-search-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-dolly-search-service
    url: http://testnav-dolly-search-service.dolly.svc.cluster.local
  pdl-api-proxy:
    cluster: dev-fss
    namespace: dolly
    name: testnav-pdl-proxy
    url: https://testnav-pdl-proxy.dev-fss-pub.nais.io
  testnav-dolly-proxy:
    name: testnav-dolly-proxy
    namespace: dolly
    url: https://testnav-dolly-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-organisasjon-faste-data-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-organisasjon-faste-data-service
    url: http://testnav-organisasjon-faste-data-service.dolly.svc.cluster.local
