apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-faste-data-frontend
  namespace: dolly
  labels:
    team: dolly
spec:
  port: 8080
  azure:
    application:
      enabled: true
      tenant: nav.no
      replyURLs:
        - "https://testnav-faste-data.intern.dev.nav.no/login/oauth2/code/aad"
        - "http://localhost:8080/login/oauth2/code/aad"
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  accessPolicy:
    outbound:
      rules:
        - application: testnav-miljoer-service
        - application: testnav-organisasjon-faste-data-service
        - application: testnav-organisasjon-service
        - application: testnav-person-faste-data-service
        - application: testnav-person-service
        - application: testnorge-profil-api
        - application: testnorge-profil-api-dev
        - application: logging
          namespace: nais-system
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  liveness:
    path: /internal/health/liveness
    periodSeconds: 30
    initialDelay: 30
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 30
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 50m
      memory: 600Mi
    limits:
      memory: 2048Mi
  image: "{{image}}"
  ingresses:
    - "https://testnav-faste-data.intern.dev.nav.no"