@import (reference) '@/styles/variables.less';

.checkbox-form {
  .aksel-checkbox {
    margin-bottom: 0;
  }
}

.success-text{
  color: @color-success;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 5px 0 5px 5px;

  span {
    padding: 0 5px;
  }
}
