.toolbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 8px 0;
	h2 {
		margin: 0;
	}

	h2,
	.toggle {
		margin-right: auto;

		.toggle__label {
			min-width: 170px;

			.toggleIcon {
				margin-right: 10px;
			}
		}
	}

	.skjemaelement {
		margin: 0;
	}

	&--actions {
		margin-right: auto;
		width: 240px;

		:not(:last-child) {
			margin-right: 5px;
		}
	}
}
