AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  main:
    banner-mode: off
  application:
    name: testnav-levende-arbeidsforhold-ansettelse
    version: application.version.todo #TODO Finn ut hvordan denne kan settes fra Gradle
    description: App for å hente PDL personer.
  security:
      oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
  cloud:
    vault:
      enabled: false
  kafka:
    consumer:
      group-id: testnav-levende-arbeidsforhold-ansettelse
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping:
        prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
server:
  servlet:
    encoding:
      charset: UTF-8
  error:
    include-message: always
consumers:
  testnav-aareg-proxy:
    name: testnav-aareg-proxy
    namespace: dolly
    url: https://testnav-aareg-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  tenor-search-service:
    url: https://testdata.api.skatteetaten.no
  testnav-ereg-proxy:
    url: https://testnav-ereg-proxy.dev-fss-pub.nais.io
    name: testnav-ereg-proxy
    cluster: dev-fss
    namespace: dolly
  pdl-proxy:
    url: https://testnav-pdl-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
    namespace: dolly
    name: testnav-pdl-proxy
  testnav-organisasjon-faste-data-service:
    url: https://testnav-organisasjon-faste-data-service.intern.dev.nav.no
    name: testnav-organisasjon-faste-data-service
    cluster: dev-gcp
    namespace: dolly
  gcp:
    sqlInstances:
      - type: POSTGRES_14
        name: testnav-levende-arbeidsforhold-ansettelse
        databases:
          - name: ansettelse-jobber
        autoBackupHour: 3 #Lager backup av hele SQL instancen hver dag kl 03:00
        tier: db-f1-micro
        diskAutoresize: true #Kanskje ikke nødvendig?
        #collation: DESC