@mainBgColor: #f1f1f1;
@dividerBgColor: #d3dee3;

.dolly-table-header {
	background-color: white;
	padding: 10px 20px;
	margin-bottom: 10px;
	display: flex;
}

.table-checkbox {
	// TODO: Move to checkbox component
	&.skjemaelement .skjemaelement__label:before {
		top: -12px;
		width: 22px;
		height: 22px;
	}
}

table.dolly-table {
	width: 100%;
	margin-bottom: 30px;
	background-color: @mainBgColor;
	text-align: left;
	border-collapse: collapse;

	thead {
		background-color: white;
		th {
			font-weight: bold;
			padding: 10px 10px;
		}
	}

	tbody tr {
		background-color: white;
		border-top: 10px solid @mainBgColor;
		td {
			padding: 20px 10px;
		}

		&.table-row-detail {
			border-top: none;

			td {
				padding: 0;

				.table-row-detail_view {
					padding: 20px 0;
					margin: 0 20px;
					border-top: 2px solid @dividerBgColor;
				}
			}
		}
	}
}
