spring:
  main:
    web-application-type: reactive
  application:
    name: testnav-organisasjon-faste-data-service
    description: Tjeneste for å bestille og holde kontroll på faste data
  config:
    import: "classpath:dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}

springdoc:
  swagger-ui:
    syntaxHighlight:
      activated: false

kafka:
  groupid: organisasjon-faste-data-service-v1

consumers:
  organisasjon-bestilling-service:
    url: http://organisasjon-bestilling-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: organisasjon-bestilling-service