spring:
  application:
    name: testnav-organisasjon-faste-data-service
    description: Tjeneste for å bestille og holde kontroll på faste data
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          jwk-set-uri: ${AZURE_OPENID_CONFIG_JWKS_URI}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER} 
          jwk-set-uri: ${TOKEN_X_JWKS_URI}
          accepted-audience: ${TOKEN_X_CLIENT_ID}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs
    syntaxHighlight:
      activated: false

kafka:
  groupid: organisasjon-faste-data-service-v1

consumers:
  organisasjon-bestilling-service:
    url: http://organisasjon-bestilling-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: organisasjon-bestilling-service

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure:
        include: prometheus,health
      path-mapping:
        prometheus: metrics
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
server:
  servlet:
    encoding:
      charset: UTF-8
  error:
    include-message: always