@import (reference) '~lessVars';

.person-info-block {
	margin-bottom: 20px;

	h4 {
		background-color: @color-bg-divider;
		margin: 0;
		padding: 3px 6px;
		font-size: 0.8em;
	}

	&_content {
		display: flex;
	}
}
