apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: organisasjon-bestilling-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: testnav-organisasjon-forvalter
          cluster: dev-gcp
        - application: jenkins-batch-status-service
          cluster: dev-fss
        - application: testnav-jenkins-batch-status-service
          cluster: dev-gcp
        - application: dolly-backend-dev
          cluster: dev-fss
        - application: dolly-backend
          cluster: dev-fss
        - application: testnav-organisasjon-faste-data-service
          cluster: dev-gcp
        - application: testnav-organisasjon-mottak-service
          cluster: dev-gcp
    outbound:
      external:
        - host: ereg-batch-status-service.dev-fss-pub.nais.io
        - host: testnorge-batch-adeo-proxy.dev-fss-pub.nais.io
  gcp:
    sqlInstances:
      - type: POSTGRES_12
        databases:
          - name: organisasjon-bestilling-db
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 2
    max: 2
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  envFrom:
    - secret: google-sql-organisasjon-bestilling-service
  ingresses:
    - "https://organisasjon-bestilling-service.dev.intern.nav.no"
