apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: organisasjon-bestilling-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: testnav-organisasjon-forvalter
          cluster: dev-gcp
        - application: jenkins-batch-status-service
          cluster: dev-fss
        - application: testnav-jenkins-batch-status-service
          cluster: dev-gcp
        - application: testnav-organisasjon-faste-data-service
          cluster: dev-gcp
        - application: testnav-organisasjon-mottak-service
          cluster: dev-gcp
    outbound:
      external:
        - host: testnorge-batch-adeo-proxy.dev-fss-pub.nais.io
      rules:
        - application: logging
          namespace: nais-system
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: organisasjon-bestilling-db
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 2
  resources:
    requests:
      cpu: 50m
      memory: 800Mi
    limits:
      memory: 2048Mi
  envFrom:
    - secret: google-sql-organisasjon-bestilling-service
  ingresses:
    - "https://organisasjon-bestilling-service.intern.dev.nav.no"
