### TPS ###
generer:
  identer:
    enable: true

spring:
  application:
    name: testnav-ident-pool
    version: 1.0.0
    description: >
      Ident-pool har oversikt på syntetiske identer, og sjekker mot prod og testmiljøer for eksistens.<br>
      Fra ident-pool kan det rekvireres identer basert på født-før og født-etter samt kjønn og type.<br>
      Spesifikke identer kan også allokeres.<br>
      Identer kan frigjøres og benyttes om igjen
  config:
    import: "classpath:dolly-application.yml"
  flyway:
    enabled: true
    locations: classpath:/db/migration
    baseline-on-migrate: false
    validate-on-migrate: false
  jpa:
    properties:
      hibernate:
        default-schema: public
        dialect: org.hibernate.dialect.PostgreSQLDialect
        showSql: true
  datasource:
    hikari:
      minimum-idle: 10
      maximum-pool-size: 100
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience: ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}


consumers:
  tps-messaging-service:
    url: http://testnav-tps-messaging-service.dolly.svc.cluster.local
    cluster: dev-gcp
    namespace: dolly
    name: testnav-tps-messaging-service
