spring:
  cloud:
    vault:
      connection-timeout: 15000
      database:
        backend: postgresql/preprod-fss
        enabled: true
        role: ident-pool-fss18-admin
      fail-fast: true
      host: vault.adeo.no
      port: 443
      read-timeout: 30000
  datasource:
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
    url: jdbc:postgresql://b27dbvl023.preprod.local/ident-pool-fss18
  flyway:
    baseline-on-migrate: true
    enabled: true # Disabled by default as you should probably think twice before running Flyway-migrations
    locations: classpath:/db/migration
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default-schema: public
        showSql: true

consumers:
  tps:
    messaging:
      service:
        url: https://testnav-tps-messaging-service.intern.dev.nav.no