AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    name: testnav-arbeidsplassencv-proxy
    desciption: Proxy for arbeidsplassencv, henter fra fakedings og signerer med tokenx
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER} 
          jwk-set-uri: ${TOKEN_X_JWKS_URI}
          accepted-audience: ${TOKEN_X_CLIENT_ID}
  cloud:
    gateway:
      httpclient:
        response-timeout: 30s
    vault:
      enabled: false

server:
  servlet:
    encoding:
      charset: UTF-8
  error:
    include-message: always

consumers:
  arbeidsplassencv:
    name: pam-cv-api-gcp
    namespace: teampam
    url: http://pam-cv-api-gcp.teampam.svc.cluster.local
    cluster: dev-gcp
