apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-generer-organisasjon-populasjon-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: mn-synt-arbeidsforhold-service
          cluster: dev-fss
        - application: testnav-generer-arbeidsforhold-populasjon-service
          cluster: dev-gcp
    outbound:
      rules:
        - application: generer-navn-service
      external:
        - host: https://organisasjon-orgnummer-service.dev-fss-pub.nais.io
  gcp:
    sqlInstances:
      - type: POSTGRES_12
        databases:
          - name: testnav-generer-organisasjon-populasjon-db
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  envFrom:
    - secret: google-sql-testnav-generer-organisasjon-populasjon-service
  ingresses:
    - "https://testnav-generer-organisasjon-populasjon-service.dev.intern.nav.no"
  kafka:
    pool: nav-dev