@use "sass:math";
//Hentet fra https://codepen.io/alvaromontoro/pen/GRNmdzB

.rain {
  position: absolute;
  width: var(--width);
  height: var(--height);
  border-radius: 30%;
  background: #99C4DD;
}

@keyframes rainfall {
  0% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(98vh);
  }
}

@for $i from 1 through 500 {
  .rain:nth-child(#{$i}) {
    --width: #{2 + math.random(2)}px;
    --height: #{6 + math.random(3)}px;
    top: -2vh;
    left: #{math.random(96)}vw;
    animation: rainfall #{math.random(50)*0.03 + math.random(40) * 0.03}s linear infinite;
    animation-delay: #{math.random(40)*0.01 + math.random(60)*0.07}s;
  }
}