//Hentet fra https://codepen.io/alvaromontoro/pen/GRNmdzB

.rain {
  position: absolute;
  width: var(--width);
  height: var(--height);
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
  background: radial-gradient(at top right, rgb(127, 246, 246), rgba(254, 213, 230, 0.1) 5%, rgb(133, 251, 251), rgba(59, 218, 188, 0.8), rgba(59, 196, 218, 0.9), rgba(227, 246, 249, 1));
}

@keyframes rainfall {
  0% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(93vh);
  }
}

@for $i from 1 through 500 {
  .rain:nth-child(#{$i}) {
    --width: #{4 + random(2)}px;
    --height: #{12 + random(3)}px;
    left: #{random(95)}vw;
    animation: rainfall #{random(50)*0.03 + random(40) * 0.03}s linear infinite;
    animation-delay: #{random(40)*0.01 + random(60)*0.07}s;
  }
}