@use "sass:math";
//Hentet fra https://codepen.io/alvaromontoro/pen/GRNmdzB

.snowflake {
	--size: 1vw;
	width: var(--size);
	height: var(--size);
	background: white;
	border-radius: 50%;
	position: absolute;
	top: -5vh;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 5vh, 0);
	}
	100% {
		transform: translate3d(var(--left-end), 99vh, 0);
	}
}

@for $i from 1 through 80 {
	.snowflake:nth-child(#{$i}) {
		--size: #{(math.random(2) + 0.04) * 0.2}vw;
		--left-ini: #{math.random(20) - 10}vw;
		--left-end: #{math.random(20) - 10}vw;
		left: #{math.random(96)}vw;
		animation: snowfall #{5 + math.random(10)}s linear infinite;
		animation-delay: -#{math.random(10)}s;
	}
}

/* added small blur every 10 snowflakes*/
.snowflake:nth-child(10n) {
	filter: blur(1px);
}
