apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-dollystatus
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  port: 8080
  accessPolicy:
    outbound:
      rules:
        - application: dolly-backend
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 2048Mi
  ingresses:
    - "https://dollystatus.dev.intern.nav.no"
