services:
  postgres-dolly:
    container_name: dolly-test
    image: postgres:latest
    environment:
      - POSTGRES_DB=dolly-test
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    restart: always

  postgres-pdl-forvalter:
    container_name: pdl-forvalter-test
    image: postgres:latest
    environment:
      - POSTGRES_DB=pdl-forvalter-test
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5433:5432"
    restart: always

  postgres-org-forvalter:
    container_name: organisasjon-forvalter-test
    image: postgres:latest
    environment:
      - POSTGRES_DB=organisasjon-forvalter-test
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5434:5432"
    restart: always

  postgres-levende-arbeidforhold:
    container_name: postgres-levende-arbeidforhold-test
    image: postgres:latest
    environment:
      - POSTGRES_DB=postgres-levende-arbeidforhold-test
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5435:5432"
    restart: always