AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    name: testnav-tps-messaging-service
  flyway:
    enabled: false
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: ${TOKEN_X_CLIENT_ID}

config:
  mq:
    test:
      host: 10.52.129.178
      #      host: d26apvl300.test.local
      port: 1412
      queueManager: MTLS03
      user: ${mq.test.username}
      password: ${mq.test.password}
    preprod:
      host: b27apvl221.preprod.local
      port: 1413
      queueManager: MQLS03
      user: ${mq.dev.username}
      password: ${mq.dev.password}

consumers:
  testmiljoer:
    service:
      url: https://testnav-miljoer-service.dev.intern.nav.no
      cluster: dev-gcp
      namespace: dolly
      name: testnav-miljoer-service
