apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-sykemelding-api-dev
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: "512m"
spec:
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  image: "{{image}}"
  port: 8080
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  envFrom:
    - secret: dolly-sykemelding-mq
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  accessPolicy:
    inbound:
      rules:
        - application: dolly-backend
        - application: dolly-backend-dev
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: dolly-idporten
        - application: team-dolly-lokal-app
        - application: testnav-oversikt-frontend
        - application: testnav-synt-sykemelding-api-dev
    outbound:
      rules:
        - application: testnav-sykemelding-proxy
        - application: logging
          namespace: nais-system
      external:
        - host: mqls04.preprod.local
          ports:
            - port: 1413
  ingresses:
    - "https://testnav-sykemelding-api-dev.intern.dev.nav.no"