spring:
  application:
    name: testnav-arbeidssoekerregisteret-proxy
    description: Proxy for arbeidssoekerregisteret som fikser tenant=trygdeetaten.no.
  config:
    import: "dolly-application.yml"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            response-timeout: 600s

consumers:
  arbeidssoekerregisteret:
    name: paw-arbeidssoekerregisteret-api-dolly
    namespace: paw
    url: http://paw-arbeidssoekerregisteret-api-dolly.paw.svc.cluster.local
    cluster: dev-gcp