@import './nav-frontend';
@import './variables';
@import './utils';
@import (css) url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

@import '~react-material-layout/dist/react-material-layout.min.css';
@import '~font-awesome/css/font-awesome.min.css';

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: @color-bg-grey;
	color: @color-textbase;
}
