AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    version: application.version.todo
    name: testnorge-statisk-data-forvalter
    description: Api forvalting av de faste testdataene.
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs

controller:
  staticdata:
    cache:
      hours: 24

kafka:
  bootstrapservers: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
  schemaregistryservers: http://kafka-schema-registry.tpa.svc.nais.local:8081
  groupid: organisasjon-forvalter-v1

consumers:
  generer-navn-service:
    url: https://generer-navn-service.intern.dev.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: generer-navn-service
  testnav-organisasjon-service:
    url: https://testnav-organisasjon-service.intern.dev.nav.no
    name: testnav-organisasjon-service
    cluster: dev-gcp
    namespace: dolly
    threads: 3
  testnav-organisasjon-faste-data-service:
    url: https://testnav-organisasjon-faste-data-service.intern.dev.nav.no
    name: testnav-organisasjon-faste-data-service
    cluster: dev-gcp
    namespace: dolly
  testnav-person-faste-data-service:
    url: https://testnav-person-faste-data-service.intern.dev.nav.no
    name: testnav-person-faste-data-service
    cluster: dev-gcp
    namespace: dolly
  krr-stub:
    url: https://krr-stub-%s.dev.intern.nav.no/api
  synthdata-aareg:
    url: http://nais-synthdata-aareg.dolly.svc.nais.local
  kodeverk-api:
    name: kodeverk-api
    namespace: team-rocket
    url: https://kodeverk-api.nav.no
    cluster: prod-gcp
  testnav-aareg-proxy:
    name: testnav-aareg-proxy
    namespace: dolly
    url: https://testnav-aareg-proxy.dev-fss-pub.nais.io
    cluster: dev-fss
  testnav-bruker-service:
    cluster: dev-gcp
    namespace: dolly
    name: testnav-bruker-service
    url: http://testnav-bruker-service.dolly.svc.cluster.local

aareg:
  pageSize: 50

management:
  endpoints:
    enabled-by-default: true
    web:
      base-path: /internal
      exposure.include: prometheus,heapdump,health
      path-mapping:
        prometheus: metrics
  endpoint:
    prometheus.enabled: true
    heapdump.enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
server:
  servlet:
    encoding:
      charset: UTF-8
  error:
    include-message: always
