spring:
  datasource:
    url: jdbc:postgresql://b27dbvl032.preprod.local:5432/testnav-statisk-data?useUnicode=yes&characterEncoding=UTF-8
    hikari:
      maximum-pool-size: 3
      minimum-idle: 0
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    locations: classpath:db/migration/postgresql
  main:
    banner-mode: off
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          jwk-set-uri: ${TOKEN_X_JWKS_URI}
          accepted-audience: ${TOKEN_X_CLIENT_ID}
  cloud:
    vault:
      application-name: preprod/fss/testnorge-statisk-data-forvalter
      authentication: token
      kv:
        enabled: false
      host: vault.adeo.no
      port: 443
      fail-fast: true
      connection-timeout: 15000
      read-timeout: 30000
      database:
        backend: postgresql/preprod-fss
        role: testnav-statisk-data-admin
        enabled: true
