apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnorge-ident-check-in-prod-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: {{ image }}
  tokenx:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
  port: 8080
  webproxy: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-fss
        - application: dolly-backend-dev
        - application: dolly-backend
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: ida
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 2
    max: 2
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 5000Mi
  ingresses:
    - "https://testnorge-ident-check-in-prod-service.dev.adeo.no"
  vault:
    enabled: true
    paths:
      - kvPath: /kv/preprod/fss/testnorge-ident-check-in-prod-service/dolly
        mountPath: /var/run/secrets/nais.io/vault
