spring:
  application:
    name: testnav-organisasjon-service
    version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
    description: "Testnorge organisasjoner API"
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-gcp:dolly:testnav-organisasjon-service

AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b


consumers:
  testnav-ereg-proxy:
    url: https://testnav-ereg-proxy.dev-fss-pub.nais.io
    name: testnav-ereg-proxy
    cluster: dev-fss
    namespace: dolly