apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-person-service
  namespace: dolly
  labels:
    team: dolly
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "900"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "900"
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: dolly-backend
        - application: dolly-backend-dev
        - application: dolly-frontend
        - application: dolly-frontend-dev
        - application: dolly-idporten
        - application: etterlatte-testdata
          namespace: etterlatte
        - application: team-dolly-lokal-app
        - application: testnav-faste-data-frontend
        - application: testnav-oversikt-frontend
        - application: testnav-pdl-forvalter
        - application: testnav-pdl-forvalter-dev
        - application: testnorge-statisk-data-forvalter
          cluster: dev-fss
    outbound:
      external:
        - host: testnav-dolly-proxy.dev-fss-pub.nais.io
      rules:
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 50m
      memory: 900Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-person-service.intern.dev.nav.no"
