table.dolly-table {
	width: 100%;
	margin-bottom: 30px;
	text-align: left;
	background-color: #f1f1f1;
	border-spacing: 0 10px;

	thead {
		background-color: white;
		th {
			&:first-child {
				padding-left: 20px;
			}

			font-weight: bold;
			padding: 10px 5px;
		}
	}

	tbody tr {
		background-color: white;
		td {
			padding: 20px 5px;
			&:first-child {
				padding-left: 20px;
			}
		}
	}
}
