AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

application:
  name: testnorge-inntekt
  version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle

spring:
  application:
    name: testnorge-inntekt
  flyway:
    locations: classpath:db/migration
  jpa:
    database: POSTGRESQL
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud.vault:
    host: vault.adeo.no
    port: 443
    connection-timeout: 15000
    read-timeout: 30000
    authentication: TOKEN

consumers:
  inntektsmelding-generator-service:
    url: https://testnav-inntektsmelding-generator-service.dev.intern.nav.no
    name: testnav-inntektsmelding-generator-service
    cluster: dev-gcp
    namespace: dolly
  testnav-inntektsmelding-service:
    url: https://testnav-inntektsmelding-service.dev.intern.nav.no
    name: testnav-inntektsmelding-service
    cluster: dev-gcp
    namespace: dolly
  synt-inntekt:
    url: https://nais-synthdata-inntekt.dev.intern.nav.no
    name: nais-synthdata-inntekt
    cluster: dev-fss
    namespace: dolly