azure.app.client.id: ${client_id}
azure.app.client.secret: ${client_secret}

testnorge-hodejegeren.rest-api.url: https://testnorge-hodejegeren.nais.preprod.local/api
inntektstub.rest.api.url: https://inntektstub.nais.preprod.local/api
dokmot.joark.rest.api.url: https://dokarkiv-{miljoe}.nais.preprod.local/
inntektstub-u1.rest.api.url: https://inntektstub-u1.nais.preprod.local/api
inntektstub-t4.rest.api.url: https://inntektstub-t4.nais.preprod.local/api
testnorge-aareg.rest.api.url: https://testnorge-aareg.nais.preprod.local/api
testnorges.ida.credential.inntektstub.username: ${IDA_USERNAME}
testnorges.ida.credential.inntektstub.password: ${IDA_PASSWORD}
VAULT_TOKEN: 123
andelNyeIdenter: 3

testnorge-inntekt.srvuser.username.dev: ${SERVICEUSER_DEV_USERNAME}
testnorge-inntekt.srvuser.password.dev: ${SERVICEUSER_DEV_PASSWORD}
testnorge-inntekt.token.url.dev: https://security-token-service.nais.preprod.local/rest/v1/sts/token

testnorge-inntekt.srvuser.username.test: ${SERVICEUSER_TEST_USERNAME}
testnorge-inntekt.srvuser.password.test: ${SERVICEUSER_TEST_PASSWORD}
testnorge-inntekt.token.url.test: https://security-token-service-t4.nais.preprod.local/rest/v1/sts/token

spring:
  h2:
    console:
      enabled: true
      path: /h2
  flyway:
    enabled: true
  datasource:
    url: jdbc:h2:mem:testdb?useUnicode=yes&characterEncoding=UTF-8
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect