apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-altinn3-tilgang-service
  namespace: dolly
  labels:
    team: dolly
spec:
  tokenx:
    enabled: true
  image: "{{image}}"
  port: 8080
  azure:
    application:
      enabled: true
      tenant: nav.no
      claims:
        groups:
          - id: 9c7efec1-1599-4216-a67e-6fd53a6a951c
  maskinporten:
    enabled: true
    scopes:
      consumes:
        - name: altinn:resourceregistry/accesslist.read
        - name: altinn:resourceregistry/accesslist.write
        - name: altinn:accessmanagement/authorizedparties.resourceowner
  accessPolicy:
    inbound:
      rules:
        - application: dolly-frontend-dev
        - application: dolly-frontend-dev-unstable
        - application: dolly-proxy
        - application: dolly-texas-proxy
        - application: team-dolly-lokal-app
        - application: testnav-bruker-service-dev
        - application: testnav-oversikt-frontend
        - application: testnorge-profil-api-dev
    outbound:
      external:
        - host: platform.tt02.altinn.no
        - host: data.brreg.no
      rules:
        - application: logging
          namespace: nais-system
  liveness:
    path: /internal/health/liveness
    initialDelay: 10
    periodSeconds: 5
    failureThreshold: 10
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 10
    periodSeconds: 5
    failureThreshold: 10
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 20m
      memory: 800Mi
    limits:
      memory: 2048Mi
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
  ingresses:
    - "https://testnav-altinn3-tilgang-service.intern.dev.nav.no"
  gcp:
    sqlInstances:
      - type: POSTGRES_16
        tier: db-custom-1-3840
        name: testnav-altinn3-tilgang
        databases:
          - name: testnav-altinn3-tilgang
        autoBackupHour: 2