---
apiVersion: nais.io/v1
kind: AzureAdApplication
metadata:
  name: testnav-modapp-ereg-proxy-trygdeetaten
  namespace: dolly
  labels:
    team: dolly
spec:
  secretName: azure-trygdeetaten-testnav-modapp-ereg-proxy-trygdeetaten
  secretKeyPrefix: "AZURE_TRYGDEETATEN"
  tenant: trygdeetaten.no
---
apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-modapp-ereg-proxy
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  webproxy: true
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: ereg-batch-status-service
          cluster: dev-gcp
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  observability:
      autoInstrumentation:
        enabled: true
        runtime: java
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1025Mi
    limits:
      memory: 2048Mi
  envFrom:
    - secret: azure-trygdeetaten-testnav-modapp-ereg-proxy-trygdeetaten
  ingresses:
    - "https://testnav-modapp-ereg-proxy.dev-fss-pub.nais.io"
