AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-fss:dolly:testnorge-opprett-person-pdl
  application:
    version: application.version.todo #TODO Finn ut hvordan denne kan settes fra gradle
    name: testnorge-opprett-person-pdl

consumers:
  person-service:
    url: https://testnav-person-service.dev.intern.nav.no
    cluster: dev-gcp
    namespace: dolly
    name: testnav-person-service

kafka:
  bootstrapservers: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
  schemaregistryservers: http://kafka-schema-registry.tpa.svc.nais.local:8081
  groupid: testnorge-opprett-person-pdl-v1
