
consumers:
  generer-navn-service:
    url: http://generer-navn-service.dolly.svc.cluster.local
  organisasjon-orgnummer-service:
    url: https://organisasjon-orgnummer-service.dev-fss-pub.nais.io
  organisasjon-bestilling-service:
    url: http://organisasjon-bestilling-service.dolly.svc.cluster.local
  testnav-adresse-service:
    url: http://testnav-adresse-service.dolly.svc.cluster.local
  testnav-organisasjon-service:
    url: http://testnav-organisasjon-service.dolly.svc.cluster.local
  testnav-miljoer-service:
    url: http://testnav-miljoer-service.dolly.svc.cluster.local

AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  flyway:
    enabled: true # Disabled by default as you should probably think twice before running Flyway-migrations
    locations: classpath:db/migration
    baseline-on-migrate: true
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_HOST}:${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_PORT}/${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_DATABASE}?user=${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_USERNAME}&password=${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_PASSWORD}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 0
  jpa:
    properties:
      hibernate:
        default-schema: public
