spring:
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_HOST}:${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_PORT}/${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_DATABASE}?user=${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_USERNAME}&password=${NAIS_DATABASE_TESTNAV_ORGANISASJON_FORVALTER_ORGANISASJON_FORVALTER_DB_PASSWORD}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 0
  jpa:
    properties:
      hibernate:
        default-schema: public
  security:
    oauth2:
      resourceserver:
        tokenx:
          issuer-uri: ${TOKEN_X_ISSUER}
          accepted-audience: ${TOKEN_X_CLIENT_ID}