AAD_ISSUER_URI: https://login.microsoftonline.com/62366534-1ec3-4962-8869-9b5535279d0b

spring:
  application:
    name: Testnav-Organisasjon-Forvalter
    version: 1.0
    description: Bestilling, persistering og opphenting av testorganisasjoner
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          jwk-set-uri: ${AAD_ISSUER_URI}/discovery/v2.0/keys
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}
        tokenx:
          issuer-uri: https://tokendings.dev-gcp.nais.io
          jwk-set-uri: https://tokendings.dev-gcp.nais.io/jwks
          accepted-audience: dev-gcp:dolly:testnav-organisasjon-forvalter

kafka:
  groupid: organisasjon-forvalter-v1

consumers:
  generer-navn-service:
    url: https://generer-navn-service.dev.intern.nav.no
    name: generer-navn-service
    cluster: dev-gcp
    namespace: dolly
  organisasjon-orgnummer-service:
    url: https://organisasjon-orgnummer-service.dev.intern.nav.no
    name: organisasjon-orgnummer-service
    cluster: dev-fss
    namespace: dolly
  organisasjon-bestilling-service:
    url: https://organisasjon-bestilling-service.dev.intern.nav.no
    name: organisasjon-bestilling-service
    cluster: dev-gcp
    namespace: dolly
  testnav-adresse-service:
    url: https://testnav-adresse-service.dev.intern.nav.no
    name: testnav-adresse-service
    cluster: dev-gcp
    namespace: dolly
  testnav-organisasjon-service:
    url: https://testnav-organisasjon-service.dev.intern.nav.no
    name: testnav-organisasjon-service
    cluster: dev-gcp
    namespace: dolly
    threads: 10
  testnav-miljoer-service:
    url: https://testnav-miljoer-service.dev.intern.nav.no
    name: testnav-miljoer-service
    cluster: dev-gcp
    namespace: dolly