spring:
  application:
    name: Testnav-Organisasjon-Forvalter
    version: 1.0
    description: Bestilling, persistering og opphenting av testorganisasjoner
  main:
    web-application-type: reactive
  config:
    import: "classpath:dolly-application.yml"
  flyway:
    enabled: true # Disabled by default as you should probably think twice before running Flyway-migrations
    locations: classpath:db/migration
    baseline-on-migrate: true
  security:
    oauth2:
      resourceserver:
        aad:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          accepted-audience:  ${AZURE_APP_CLIENT_ID}, api:// ${AZURE_APP_CLIENT_ID}

kafka:
  groupid: organisasjon-forvalter-v1

consumers:
  generer-navn-service:
    url: http://generer-navn-service.dolly.svc.cluster.local
    name: generer-navn-service
    cluster: dev-gcp
    namespace: dolly
  testnav-orgnummer-service:
    url: http://testnav-orgnummer-service.dolly.svc.cluster.local
    name: testnav-orgnummer-service
    cluster: dev-gcp
    namespace: dolly
  organisasjon-bestilling-service:
    url: http://organisasjon-bestilling-service.dolly.svc.cluster.local
    name: organisasjon-bestilling-service
    cluster: dev-gcp
    namespace: dolly
  testnav-adresse-service:
    url: http://testnav-adresse-service.dolly.svc.cluster.local
    name: testnav-adresse-service
    cluster: dev-gcp
    namespace: dolly
  testnav-organisasjon-service:
    url: http://testnav-organisasjon-service.dolly.svc.cluster.local
    name: testnav-organisasjon-service
    cluster: dev-gcp
    namespace: dolly
    threads: 10
  testnav-miljoer-service:
    url: http://testnav-miljoer-service.dolly.svc.cluster.local
    name: testnav-miljoer-service
    cluster: dev-gcp
    namespace: dolly