<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="stdout_json"/>
    </root>
</configuration>