apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: testnav-jenkins-batch-status-service
  namespace: dolly
  labels:
    team: dolly
spec:
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
  image: "{{image}}"
  port: 8080
  webproxy: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: testnav-organisasjon-mottak-service
          cluster: dev-gcp
    outbound:
      rules:
        - application: organisasjon-bestilling-service
        - application: logging
          namespace: nais-system
      external:
        - host: testnorge-batch-adeo-proxy.dev-fss-pub.nais.io
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/health/liveness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/health/readiness
    initialDelay: 20
    periodSeconds: 10
    failureThreshold: 20
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 2
  resources:
    requests:
      cpu: 20m
      memory: 700Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-jenkins-batch-status-service.intern.dev.nav.no"
