name: budpro-service

on:
  push:
    paths:
      - .github/workflows/app.budpro-service.yml
      - apps/budpro-service/**
      - libs/data-transfer-objects/**
      - libs/testing/**
      - libs/texas/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/budpro-service"
      deploy-tag: "#deploy-budpro-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
