name: organisasjon-forvalter

on:
  push:
    paths:
      - "plugins/**"
      - "libs/avro-schema/**"
      - "libs/commands/**"
      - "libs/data-transfer-objects/**"
      - "libs/database/**"
      - "libs/kafka-config/**"
      - "libs/kafka-producers/**"
      - "libs/security-core/**"
      - "libs/servlet-core/**"
      - "libs/servlet-security/**"
      - "libs/testing/**"
      - "apps/organisasjon-forvalter/**"
      - ".github/workflows/app.organisasjon-forvalter.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/organisasjon-forvalter"
      deploy-tag: "#deploy-organisasjon-forvalter"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
