name: varslinger-service

on:
  push:
    paths:
      - "plugins/**"
      - "libs/data-transfer-objects/**"
      - "libs/database/**"
      - "libs/security-core/**"
      - "libs/servlet-core/**"
      - "libs/servlet-security/**"
      - "apps/varslinger-service/**"
      - ".github/workflows/app.varslinger-service.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/varslinger-service"
      deploy-tag: "#deploy-varslinger-service"
      deploy-tag-test: "#deploy-test-varslinger-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
