name: tenor-search-service

on:
  push:
    paths:
      - .github/workflows/app.tenor-search-service.yml
      - apps/tenor-search-service/**
      - libs/data-transfer-objects/**
      - libs/integration-test/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/tenor-search-service"
      deploy-tag: "#deploy-tenor-search-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
