name: testnav-ident-pool

on:
  push:
    paths:
      - "plugins/**"
      - "libs/database/**"
      - "libs/security-core/**"
      - "libs/servlet-core/**"
      - "libs/servlet-insecure-security/**"
      - "libs/servlet-security/**"
      - "libs/testing/**"
      - "apps/testnav-ident-pool/**"
      - ".github/workflows/app.testnav-ident-pool.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/testnav-ident-pool"
      deploy-tag: "#deploy-testnav-ident-pool"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
