name: altinn3-tilgang-service-prod

on:
  push:
    paths:
      - plugins/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - apps/altinn3-tilgang-service/**
      - .github/workflows/app.altinn3-tilgang-service.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/altinn3-tilgang-service"
      deploy-tag: "#deploy-altinn3-tilgang-service-prod"
      nais-manifest: "config.prod.yml"
      cluster: "prod-gcp"
    permissions:
      contents: read
      id-token: write
    secrets: inherit

