name: App sykemelding-api

on:
  push:
    paths:
      - apps/sykemelding-api/**
      - .github/workflows/app.sykemelding-api.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/sykemelding-api/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    with:
      working-directory: 'apps/sykemelding-api/'
      app-name: 'sykemelding-api'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/sykemelding-api/nais.yaml'
      app-name: 'sykemelding-api'
      cluster: 'dev-fss'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}