name: App testnorge-bisys

on:
  push:
    paths:
      - apps/testnorge-bisys/**
      - .github/workflows/app.testnorge-bisys.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/testnorge-bisys/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    with:
      working-directory: 'apps/testnorge-bisys/'
      app-name: 'testnav-bisys'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/testnorge-bisys/config.yml'
      app-name: 'testnav-bisys'
      cluster: 'dev-fss'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}