name: testnav-ident-pool

on:
  push:
    paths:
      - .github/workflows/app.testnav-ident-pool.yml
      - apps/testnav-ident-pool/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/servlet-insecure-security/**
      - libs/reactive-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/testnav-ident-pool"
      deploy-tag: "#deploy-testnav-ident-pool"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
