name: person-organisasjon-tilgang-service

on:
  push:
    paths:
      - "plugins/**"
      - "libs/integration-test/**"
      - "libs/reactive-core/**"
      - "libs/reactive-security/**"
      - "libs/security-core/**"
      - "apps/person-organisasjon-tilgang-service/**"
      - ".github/workflows/app.person-organisasjon-tilgang-service.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/person-organisasjon-tilgang-service"
      deploy-tag: "#deploy-person-organisasjon-tilgang-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
