name: levende-arbeidsforhold-scheduler

on:
  push:
    paths:
      - .github/workflows/app.levende-arbeidsforhold-scheduler.yml
      - apps/levende-arbeidsforhold-scheduler/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/reactive-insecure-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/levende-arbeidsforhold-scheduler"
      deploy-tag: "#deploy-levende-arbeidsforhold-scheduler"
      sonar-enabled: false
    permissions:
      contents: read
      id-token: write
    secrets: inherit
