name: brreg-stub

on:
  push:
    paths:
      - .github/workflows/app.brreg-stub.yml
      - apps/brreg-stub/**
      - libs/servlet-core/**
      - libs/testing/**
      - libs/vault/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "apps/brreg-stub"
      deploy-tag: "#deploy-brreg-stub"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
