name: endringsmelding-frontend

on:
  push:
    paths:
      - .github/workflows/app.endringsmelding-frontend.yml
      - apps/endringsmelding-frontend/**
      - libs/reactive-core/**
      - libs/reactive-frontend/**
      - libs/reactive-session-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.frontend.yml
    with:
      working-directory: "apps/endringsmelding-frontend"
      deploy-tag: "#deploy-endringsmelding-frontend"
    permissions:
      contents: read
      id-token: write
      packages: read
    secrets: inherit
