name: inntektsmelding-service

on:
  push:
    paths:
      - .github/workflows/app.inntektsmelding-service.yml
      - apps/inntektsmelding-service/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/reactive-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/inntektsmelding-service"
      deploy-tag: "#deploy-inntektsmelding-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
