name: synt-vedtakshistorikk-service

on:
  push:
    paths:
      - .github/workflows/app.synt-vedtakshistorikk-service.yml
      - apps/synt-vedtakshistorikk-service/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/reactive-standalone-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/synt-vedtakshistorikk-service"
      deploy-tag: "#deploy-synt-vedtakshistorikk-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
