name: oppsummeringsdokument-service

on:
  push:
    paths:
      - "plugins/**"
      - "libs/data-transfer-objects/**"
      - "libs/security-core/**"
      - "libs/servlet-core/**"
      - "libs/servlet-security/**"
      - "xsd/arbeidsforhold-xsd/**"
      - "apps/oppsummeringsdokument-service/**"
      - ".github/workflows/app.oppsummeringsdokument-service.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/oppsummeringsdokument-service"
      deploy-tag: "#deploy-oppsummeringsdokument-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
