name: helsepersonell-service

on:
  push:
    paths:
      - plugins/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - apps/helsepersonell-service/**
      - .github/workflows/app.helsepersonell-service.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/helsepersonell-service"
      deploy-tag: "#deploy-helsepersonell-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
