name: bruker-service

on:
  push:
    paths:
      - .github/workflows/app.bruker-service.yml
      - apps/bruker-service/**
      - libs/data-transfer-objects/**
      - libs/integration-test/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/bruker-service"
      deploy-tag: "#deploy-bruker-service"
      deploy-tag-test: "#deploy-test-bruker-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
