name: testnav-udi-stub

on:
  push:
    paths:
      - "plugins/**"
      - libs/data-transfer-objects
      - libs/database
      - libs/servlet-core
      - libs/servlet-security
      - apps/udi-stub/**
      - .github/workflows/app.udi-stub.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "apps/udi-stub"
      deploy-tag: "#deploy-udi-stub"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
