name: App arbeidsforhold-export-api

on:
  push:
    paths:
      - apps/arbeidsforhold-export-api/**
      - .github/workflows/app.arbeidsforhold-export-api.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/arbeidsforhold-export-api/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    with:
      working-directory: 'apps/arbeidsforhold-export-api/'
      app-name: 'arbeidsforhold-export-api'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy-dev:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/arbeidsforhold-export-api/config.yml'
      app-name: 'arbeidsforhold-export-api'
      cluster: 'dev-fss'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}