name: udi-stub

on:
  push:
    paths:
      - .github/workflows/app.udi-stub.yml
      - apps/udi-stub/**
      - libs/reactive-core/**
      - libs/testing/**
      - libs/vault/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "apps/udi-stub"
      deploy-tag: "#deploy-udi-stub"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
