name: oversikt-frontend

on:
  push:
    paths:
      - .github/workflows/app.oversikt-frontend.yml
      - apps/oversikt-frontend/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-frontend/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.frontend.yml
    with:
      working-directory: "apps/oversikt-frontend"
      deploy-tag: "#deploy-oversikt-frontend"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
