name: inntektsmelding-generator-service

on:
  push:
    paths:
      - .github/workflows/app.inntektsmelding-generator-service.yml
      - apps/inntektsmelding-generator-service/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/inntektsmelding-generator-service/"
      deploy-tag: "#deploy-inntektsmelding-generator-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
