name: endringsmelding-service

on:
  push:
    paths:
      - libs/data-transfer-objects
      - libs/data-transfer-search-objects
      - libs/reactive-core
      - libs/reactive-security
      - libs/security-core
      - apps/endringsmelding-service/**
      - .github/workflows/app.endringsmelding-service.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/endringsmelding-service"
      deploy-tag: "#deploy-endringsmelding-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
