name: arbeidsforhold-service

on:
  push:
    paths:
      - "plugins/**"
      - "libs/commands/**"
      - "libs/data-transfer-objects/**"
      - "libs/reactive-core/**"
      - "libs/security-core/**"
      - "libs/servlet-core/**"
      - "libs/servlet-security/**"
      - "apps/arbeidsforhold-service/**"
      - ".github/workflows/app.arbeidsforhold-service.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/arbeidsforhold-service"
      deploy-tag: "#deploy-arbeidsforhold-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
