name: generer-navn-service

on:
  push:
    paths:
      - .github/workflows/app.generer-navn-service.yml
      - apps/generer-navn-service/**
      - libs/commands/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/servlet-core/**
      - libs/servlet-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/generer-navn-service"
      deploy-tag: "#deploy-generer-navn-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
