name: profil-api

on:
  push:
    paths:
      - .github/workflows/app.profil-api.yml
      - apps/profil-api/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/reactive-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/profil-api"
      deploy-tag: "#deploy-profil-api"
      deploy-tag-test: "#deploy-test-profil-api"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
