name: tilbakemelding-api

on:
  push:
    paths:
      - .github/workflows/app.tilbakemelding-api.yml
      - apps/tilbakemelding-api/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/reactive-security/**
      - libs/slack/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/tilbakemelding-api"
      deploy-tag: "#deploy-tilbakemelding-api"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
