name: person-faste-data-service

on:
  push:
    paths:
      - "plugins/**"
      - "libs/data-transfer-objects/**"
      - "libs/reactive-core/**"
      - "libs/reactive-security/**"
      - "apps/person-faste-data-service/**"
      - ".github/workflows/app.person-faste-data-service.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/person-faste-data-service"
      deploy-tag: "#deploy-person-faste-data-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
