name: testnorge-statisk-data-forvalter

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/app.testnorge-statisk-data-forvalter.yml
      - apps/testnorge-statisk-data-forvalter/**
      - libs/avro-schema/**
      - libs/csv-converter/**
      - libs/commands/**
      - libs/data-transfer-objects/**
      - libs/kafka-config/**
      - libs/kafka-producers/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - libs/vault/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "apps/testnorge-statisk-data-forvalter"
      deploy-tag: "#deploy-statisk-data-forvalter"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
