name: levende-arbeidsforhold-service

on:
  push:
    paths:
      - .github/workflows/app.levende-arbeidsforhold-service.yml
      - apps/levende-arbeidsforhold-service/**
      - libs/avro-schema/**
      - libs/data-transfer-objects/**
      - libs/kafka-config/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/reactive-standalone-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/levende-arbeidsforhold-service"
      deploy-tag: "#deploy-levende-arbeidsforhold-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
