name: App endringsmelding-frontend

on:
  push:
    paths:
      - apps/endringsmelding-frontend/**
      - .github/workflows/app.endringsmelding-frontend.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/endringsmelding-frontend/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.frontend.yml@master
    with:
      working-directory: 'apps/endringsmelding-frontend/'
      app-name: 'endringsmelding-frontend'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy-dev:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/endringsmelding-frontend/config.yml'
      app-name: 'endringsmelding-frontend'
      cluster: 'dev-gcp'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}