name: organisasjon-service

on:
  push:
    paths:
      - plugins/**
      - libs/commands/**
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/servlet-core/**
      - libs/servlet-security/**
      - libs/testing/**
      - apps/organisasjon-service/**
      - .github/workflows/app.organisasjon-service.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/organisasjon-service"
      deploy-tag: "#deploy-organisasjon-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
