name: App synt-sykemelding-api

on:
  push:
    paths:
      - apps/synt-sykemelding-api/**
      - .github/workflows/app.synt-sykemelding-api.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/synt-sykemelding-api/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    with:
      working-directory: 'apps/synt-sykemelding-api/'
      app-name: 'testnav-synt-sykemelding-api'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' || contains(github.event.head_commit.message, '#deploy-synt-sykemelding-api') }}
    with:
      resource: 'apps/synt-sykemelding-api/config.yml'
      app-name: 'testnav-synt-sykemelding-api'
      cluster: 'dev-gcp'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}