name: dolly-backend

on:
  push:
    paths:
      - .github/workflows/app.dolly-backend.yml
      - apps/dolly-backend/**
      - libs/data-transfer-objects/**
      - libs/security-core/**
      - libs/reactive-core/**
      - libs/reactive-security/**
      - libs/reactive-standalone-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/dolly-backend"
      deploy-tag: "#deploy-dolly-backend"
      deploy-tag-test: "#deploy-test-dolly-backend"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
