name: App organisasjon-forvalter

on:
  push:
    paths:
      - apps/organisasjon-forvalter/**
      - .github/workflows/app.organisasjon-forvalter.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/organisasjon-forvalter/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    with:
      working-directory: 'apps/organisasjon-forvalter/'
      app-name: 'organisasjon-forvalter'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy-dev:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' || github.ref == 'refs/heads/bugfix/org-adresse'}}
    with:
      resource: 'apps/organisasjon-forvalter/config.yml'
      app-name: 'organisasjon-forvalter'
      cluster: 'dev-gcp'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}