name: organisasjon-faste-data-service

on:
  push:
    paths:
      - .github/workflows/app.organisasjon-faste-data-service.yml
      - apps/organisasjon-faste-data-service/**
      - libs/avro-schema/**
      - libs/commands/**
      - libs/data-transfer-objects/**
      - libs/kafka-config/**
      - libs/kafka-producers/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/servlet-core/**
      - libs/servlet-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/organisasjon-faste-data-service"
      deploy-tag: "#deploy-organisasjon-faste-data-service"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
