name: App oppsummeringsdokument-service

on:
  push:
    paths:
      - apps/oppsummeringsdokument-service/**
      - .github/workflows/app.oppsummeringsdokument-service.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/oppsummeringsdokument-service/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      working-directory: 'apps/oppsummeringsdokument-service/'
      app-name: 'oppsummeringsdokument-service'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy-dev:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/oppsummeringsdokument-service/config.yml'
      app-name: 'oppsummeringsdokument-service'
      cluster: 'dev-gcp'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}