name: pdl-forvalter

on:
  push:
    paths:
      - .github/workflows/app.pdl-forvalter.yml
      - apps/pdl-forvalter/**
      - libs/avro-schema/**
      - libs/data-transfer-objects/**
      - libs/kafka-config/**
      - libs/reactive-core/**
      - libs/security-core/**
      - libs/servlet-core/**
      - libs/servlet-insecure-security/**
      - libs/testing/**
      - plugins/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "apps/pdl-forvalter"
      deploy-tag: "#deploy-pdl-forvalter"
      deploy-tag-test: "#deploy-test-pdl-forvalter"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
