name: App udi-stub

on:
  push:
    paths:
      - apps/udi-stub/**
      - .github/workflows/app.udi-stub.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'apps/udi-stub/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.build-and-publish.backend.yml@master
    with:
      working-directory: 'apps/udi-stub/'
      app-name: 'testnav-udi-stub'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
  deploy:
    name: Deploy
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/udi-stub/nais.yaml'
      app-name: 'testnav-udi-stub'
      cluster: 'dev-fss'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}
  deploy-dev:
    name: Deploy dev
    uses: navikt/testnorge/.github/workflows/common.deploy.yml@master
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    with:
      resource: 'apps/udi-stub/nais-dev.yaml'
      app-name: 'testnav-udi-stub'
      cluster: 'dev-fss'
    secrets:
      API_KEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}