name: Build dolly-komponenter

on:
  push:
    paths:
      - navikt/dolly-komponenter/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '11.x'
          registry-url: https://registry.npmjs.org/
      - name: Build install
        run: |
          npm ci
        working-directory: navikt/dolly-komponenter/
      - name: Build code
        run: |
          npm run build
        working-directory: navikt/dolly-komponenter/