name: Vitest Tests
on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        description: "The working directory for the job, e.g. apps/dolly-frontend (without leading/trailing slash)."
        required: true
        default: "apps/dolly-frontend"
    secrets:
      READER_TOKEN:
        required: true
  workflow_dispatch:
    inputs:
      working-directory:
        description: "The working directory for the job, e.g. apps/dolly-frontend (without leading/trailing slash)."
        required: true
        default: "apps/dolly-frontend"

jobs:
  vitest:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://npm.pkg.github.com/
          scope: "@navikt"
          cache: pnpm
          cache-dependency-path: ${{ inputs.working-directory || github.event.inputs.working-directory }}/src/main/js/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: ${{ inputs.working-directory || github.event.inputs.working-directory }}/src/main/js
        run: pnpm install --frozen-lockfile
      - name: Install Playwright Browsers
        working-directory: ${{ inputs.working-directory || github.event.inputs.working-directory }}/src/main/js
        run: pnpm exec playwright install --with-deps
      - name: Run Vitest/RTL tests
        working-directory: ${{ inputs.working-directory || github.event.inputs.working-directory }}/src/main/js
        run: pnpm run test:vitest-run
