on:
  workflow_call:
    secrets:
      READER_TOKEN:
        required: false
    inputs:
      working-directory:
        type: string
        required: true


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: https://npm.pkg.github.com/
          scope: "@navikt"

      - name: Npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        working-directory: ${{ inputs.working-directory }}
        run: npm install
      - name: Build code
        run: npm run build
        working-directory: ${{ inputs.working-directory }}
