on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        required: true
      app-name:
        type: string
        required: true
    secrets:
      NAV_TOKEN:
        required: false

env:
  IMAGE: ghcr.io/${{ github.repository }}/${{ inputs.app-name }}:${{ github.sha }}

jobs:
  build:
    name: Build ${{ inputs.app-name }}
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v3
      - name: Gradle cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
            ${{ runner.os }}-gradle-
            ${{ runner.os }}-
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17.x'
      - name: Compile
        env:
          GITHUB_USERNAME: token
          NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
        working-directory: ${{ inputs.working-directory }}
        run: ./gradlew build --scan
      - name: Build & Publish Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ${{ inputs.working-directory }}
        run: |
          docker build --tag $IMAGE .
          docker login ghcr.io -u $GITHUB_REPOSITORY -p $GITHUB_TOKEN
          docker push $IMAGE
