on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
          registry-url: https://registry.npmjs.org/
      - name: Build install
        run: |
          npm ci
        working-directory: ${{ inputs.working-directory }}
      - name: Build code
        run: |
          npm run build
        working-directory: ${{ inputs.working-directory }}