on:
  workflow_call:
    inputs:
      cluster:
        type: string
        description: "The cluster to deploy to, e.g. dev-gcp."
        required: false
        default: "dev-gcp"
      working-directory:
        type: string
        description: "The working directory for the job, e.g. apps/dolly-frontend (without leading/trailing slash)."
        required: true
      image-suffix:
        type: string
        description: "The Docker image suffix used for this particular workflow, e.g. dolly-frontend. Defaults to the workflow name."
        required: false
        default: ${{ github.workflow }}
      deploy-tag:
        type: string
        description: "The commit message tag that will trigger a deployment on a commit to a non-master branch, e.g. #deploy-frontend. Make sure it is not a substring of other deploy tags."
        required: true
      deploy-tag-test:
        type: string
        description: "The commit message tag that will trigger a deployment to the test environment on a commit to a non-master branch, e.g. #deploy-test-frontend."
        required: false
      deploy-tag-idporten:
        type: string
        description: "The commit message tag that will trigger a deployment to the 'idporten' environment on a commit to a non-master branch, e.g. #deploy-idporten-frontend."
        required: false
      force-deploy:
        type: boolean
        description: "Used to force deployment."
        required: false
        default: false
      force-deploy-test:
        type: boolean
        description: "Used to force deployment to test. Make sure the working-directory contains a config.test.yml!"
        required: false
        default: false
      force-deploy-idporten:
        type: boolean
        description: "Used to force deployment to idporten, only relevant for dolly-frontend. Make sure the working-directory contains a config.idporten.yml!"
        required: false
        default: false
      sonar-enabled:
        type: boolean
        description: "Whether to run SonarQube analysis or not."
        required: false
        default: true
    secrets:
      NAV_TOKEN:
        required: true
      READER_TOKEN:
        required: true
      SONAR_TOKEN:
        required: true

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  start:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: "Logging"
        run: |
          echo "branch: ${{ github.ref }}"
          echo "inputs: ${{ toJSON(inputs) }}"
          echo "env: ${{ toJSON(env) }}"
          echo "commit: ${{ github.event.head.commit_message }}"
    outputs:
      do-deploy: ${{ inputs.force-deploy || (!contains(github.event.head_commit.message, '#nodeploy') && (inputs.deploy-tag != '') && (github.ref == 'refs/heads/master' || contains(github.event.head_commit.message, inputs.deploy-tag))) }}
      do-deploy-test: ${{ inputs.force-deploy-test || (!contains(github.event.head_commit.message, '#nodeploy') && inputs.deploy-tag-test != '' && (github.ref == 'refs/heads/master' || contains(github.event.head_commit.message, inputs.deploy-tag-test))) }}
      do-deploy-idporten: ${{ inputs.force-deploy-idporten || (!contains(github.event.head_commit.message, '#nodeploy') && inputs.deploy-tag-idporten != '' && (github.ref == 'refs/heads/master' || contains(github.event.head_commit.message, inputs.deploy-tag-idporten))) }}
      artifact: ${{ github.run_id }}-failure

  build:
    needs: start
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Setup (Node)"
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@navikt'
          cache: 'npm'
          cache-dependency-path: ${{ inputs.working-directory }}/src/main/js/package-lock.json

      - name: "Install (Node)"
        working-directory: ${{ inputs.working-directory }}/src/main/js
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: "Build (Node)"
        working-directory: ${{ inputs.working-directory }}/src/main/js
        run: npm run build

      - name: "Move (Node)"
        working-directory: ${{ inputs.working-directory }}/src/main/js
        run: mv build ../resources/static

      - name: "Setup (Java)"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: "Setup (Gradle)"
        id: gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
          gradle-home-cache-cleanup: true
        env:
          NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: "Build (Gradle)"
        working-directory: ${{ inputs.working-directory }}
        run: ./gradlew build ${{ inputs.sonar-enabled && 'jacocoTestReport sonar' || '' }} --scan --no-daemon
        env:
          NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: "Upload test reports"
        if: failure() && steps.gradle.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-${{ github.run_id }}-${{ github.run_attempt }}-${{ github.job }}
          path: ${{ inputs.working-directory }}/build/reports
          retention-days: 7
          if-no-files-found: warn

      - name: "Build and push Docker image"
        id: docker-build-push
        if: |
          needs.start.outputs.do-deploy-idporten == 'true' ||
          needs.start.outputs.do-deploy-test == 'true' ||
          needs.start.outputs.do-deploy == 'true'
        uses: nais/docker-build-push@v0
        with:
          team: dolly
          docker_context: ${{ inputs.working-directory }}
          image_suffix: ${{ inputs.image-suffix }}
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy:
    needs: [ start, build ]
    if: needs.start.outputs.do-deploy == 'true'
    concurrency:
      group: ${{ inputs.image-suffix }}-deploy
      cancel-in-progress: false
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ inputs.working-directory }}/config.yml
          sparse-checkout-cone-mode: false

      - name: "Deploy"
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: "${{ inputs.working-directory }}/config.yml"
          VAR: image=${{ needs.build.outputs.image }}

  deploy-test:
    needs: [ start, build ]
    if: needs.start.outputs.do-deploy-test == 'true'
    concurrency:
      group: ${{ inputs.image-suffix }}-test-deploy
      cancel-in-progress: false
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ inputs.working-directory }}/config.test.yml
          sparse-checkout-cone-mode: false

      - name: "Deploy (test)"
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: "${{ inputs.working-directory }}/config.test.yml"
          VAR: image=${{ needs.build.outputs.image }}

  deploy-idporten:
    needs: [ start, build ]
    if: needs.start.outputs.do-deploy-idporten == 'true'
    concurrency:
      group: ${{ inputs.image-suffix }}-idporten-deploy
      cancel-in-progress: false
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ inputs.working-directory }}/config.idporten.yml
          sparse-checkout-cone-mode: false

      - name: "Deploy (idporten)"
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: "${{ inputs.working-directory }}/config.idporten.yml"
          VAR: image=${{ needs.build.outputs.image }}