name: Deploy to preprod-fss

on:
  push:
    branches: master

env:
  IMAGE: docker.pkg.github.com/${{ github.repository }}/orkestratoren:${{ github.sha }}

jobs:
  build_and_deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Cache Dependencies
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - name: Compile
        env:
          GITHUB_USERNAME: x-access-token
          NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
        run: mvn --settings maven-settings.xml compile
      - name: Test
        run: mvn --settings maven-settings.xml test
      - name: Package
        run: mvn --settings maven-settings.xml package -Dmaven.test.skip

      - name: Build and publish Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker build --tag ${IMAGE} .
          docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY} -p ${GITHUB_TOKEN}
          docker push ${IMAGE}
      - name: Deploy to nais
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-fss
          RESOURCE: nais.yaml
