name: testing

on:
  push:
    paths:
      - plugins/**
      - libs/testing/**
      - .github/workflows/lib.testing.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/testing'
    secrets: inherit
