name: security-token-service

on:
  push:
    paths:
      - plugins/**
      - libs/security-token-service/**
      - .github/workflows/lib.security-token-service.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/security-token-service'
    secrets: inherit
