name: Lib servlet-insecure-security

on:
  push:
    paths:
      - libs/servlet-insecure-security/**
      - .github/workflows/lib.servlet-insecure-security.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'libs/servlet-insecure-security/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.java-build.yml@master
    with:
      working-directory: 'libs/servlet-insecure-security/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}