name: Lib data-transfer-objects

on:
  push:
    paths:
      - libs/data-transfer-objects/**
      - .github/workflows/lib.data-transfer-objects.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'libs/data-transfer-objects/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.java-build.yml@master
    with:
      working-directory: 'libs/data-transfer-objects/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}