name: security-core

on:
  push:
    paths:
      - plugins/**
      - libs/security-core/**
      - .github/workflows/lib.security-core.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/security-core'
    secrets: inherit
