name: data-transfer-objects

on:
  push:
    paths:
      - plugins/**
      - libs/data-transfer-objects/**
      - .github/workflows/lib.data-transfer-objects.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/data-transfer-objects'
    secrets: inherit
