name: kafka-producers

on:
  push:
    paths:
      - plugins/**
      - libs/kafka-producers/**
      - .github/workflows/lib.kafka-producers.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/kafka-producers'
    secrets: inherit
