name: kafka-config

on:
  push:
    paths:
      - plugins/**
      - libs/kafka-config/**
      - .github/workflows/lib.kafka-config.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/kafka-config'
    secrets: inherit
