name: commands

on:
  push:
    paths:
      - plugins/**
      - libs/commands/**
      - .github/workflows/lib.commands.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/commands'
    secrets: inherit
