name: reactive-frontend

on:
  push:
    paths:
      - plugins/**
      - libs/reactive-frontend/**
      - .github/workflows/lib.reactive-frontend.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/reactive-frontend'
    secrets: inherit
