name: dolly-assets

on:
  push:
    paths:
      - plugins/**
      - navikt/dolly-assets/**
      - .github/workflows/lib.frontend.dolly-assets.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.frontend.yml
    with:
      working-directory: 'navikt/dolly-assets'
    permissions:
      contents: write
      packages: write
    secrets: inherit
