name: dolly-komponenter

on:
  push:
    paths:
      - plugins/**
      - navikt/dolly-komponenter/**
      - .github/workflows/lib.frontend.dolly-komponenter.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.frontend.yml
    with:
      working-directory: 'navikt/dolly-komponenter'
    permissions:
      contents: write
      packages: write
    secrets: inherit
