name: reactive-proxy

on:
  push:
    paths:
      - plugins/**
      - libs/reactive-proxy/**
      - .github/workflows/lib.reactive-proxy.yml

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.libs.backend.yml
    with:
      working-directory: 'libs/reactive-proxy'
    secrets: inherit
