name: Lib domain

on:
  push:
    paths:
      - libs/domain/**
      - .github/workflows/lib.domain.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@github-workflows-new
    with:
      working-directory: 'libs/domain/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.java-build.yml@github-workflows-new
    with:
      working-directory: 'libs/domain/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}