name: Lib reactive-core

on:
  push:
    paths:
      - libs/reactive-core/**
      - .github/workflows/lib.reactive-core.yml

jobs:
  scan:
    name: Scan
    uses: navikt/testnorge/.github/workflows/common.sonar.yml@master
    with:
      working-directory: 'libs/reactive-core/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build:
    name: Build
    uses: navikt/testnorge/.github/workflows/common.java-build.yml@master
    with:
      working-directory: 'libs/reactive-core/'
    secrets:
      NAV_TOKEN: ${{ secrets.NAV_TOKEN }}