name: synthdata-meldekort-proxy

on:
  push:
    paths:
      - .github/workflows/proxy.synthdata-meldekort-proxy.yml
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-proxy/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**
      - proxies/synthdata-meldekort-proxy/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "proxies/synthdata-meldekort-proxy"
      deploy-tag: "#deploy-proxy-synthdata-meldekort"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
