name: brregstub-proxy

on:
  push:
    paths:
      - .github/workflows/proxy.brregstub-proxy.yml
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-proxy/**
      - libs/testing/**
      - plugins/**
      - proxies/brregstub-proxy/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "proxies/brregstub-proxy"
      deploy-tag: "#deploy-proxy-brregstub"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
