name: inst-proxy

on:
  push:
    paths:
      - .github/workflows/proxy.inst-proxy.yml
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-proxy/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**
      - proxies/inst-proxy/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "proxies/inst-proxy"
      deploy-tag: "#deploy-proxy-inst"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
