name: texas-proxy

on:
  push:
    paths:
      - .github/workflows/proxy.texas-proxy.yml
      - libs/testing/**
      - libs/texas/**
      - plugins/**
      - proxies/texas-proxy/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      working-directory: "proxies/texas-proxy"
      deploy-tag: "#deploy-texas-proxy"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
