name: sykemelding-proxy

on:
  push:
    paths:
      - .github/workflows/proxy.sykemelding-proxy.yml
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-proxy/**
      - libs/reactive-security/**
      - libs/security-core/**
      - libs/testing/**
      - plugins/**
      - proxies/sykemelding-proxy/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-gcp"
      working-directory: "proxies/sykemelding-proxy"
      deploy-tag: "#deploy-proxy-sykemelding"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
