name: kontoregister-person-proxy

on:
  push:
    paths:
      - "plugins/**"
      - "libs/reactive-core/**"
      - "libs/reactive-proxy/**"
      - "libs/reactive-security/**"
      - "libs/security-core/**"
      - "proxies/kontoregister-person-proxy/**"
      - ".github/workflows/proxy.kontoregister-person-proxy.yml"

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "proxies/kontoregister-person-proxy"
      deploy-tag: "#deploy-proxy-kontoregister-person"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
