name: norg2-proxy

on:
  push:
    paths:
      - .github/workflows/proxy.norg2-proxy.yml
      - libs/data-transfer-objects/**
      - libs/reactive-core/**
      - libs/reactive-proxy/**
      - libs/testing/**
      - plugins/**
      - proxies/norg2-proxy/**

jobs:
  workflow:
    uses: ./.github/workflows/common.workflow.backend.yml
    with:
      cluster: "dev-fss"
      working-directory: "proxies/norg2-proxy"
      deploy-tag: "#deploy-proxy-norg2"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
