name: Deploy redis

on:
  push:
    branches:
      - master
    paths:
      - '.nais/redis.yml'
  workflow_dispatch:

jobs:
  deploy-redis:
    name: Deploy redis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DOLLY_DEPLOY_API_KEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/redis.yml