name: Deploy redis

on:
  push:
    branches:
      - master
    paths:
      - '.nais/redis.yml'
  workflow_dispatch:

jobs:
  deploy-redis:
    name: Deploy redis
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: ".nais/redis.yml"