name: Deploy Valkey (valkey-dolly-dev-session)

on:
  push:
    branches:
      - master
      - change/redis_to_valkey_nocode
    paths:
      - .github/workflows/valkey-dolly-dev-session.yml
      - .nais/valkey-dolly-dev-session.yml
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Valkey
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: ".nais/valkey-dolly-dev-session.yml"