consumers.personapi.url: https://testnorge-person-api-dev.dev.adeo.no

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AAD_ISSUER_URI}/v2.0
          #The client_id of this application
          accepted-audience: ${azure.app.client.id}, api://${azure.app.client.id}