apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: ereg-batch-status-service
  namespace: dolly
  labels:
    team: dolly
spec:
  image: "{{image}}"
  port: 8080
  webproxy: true
  accessPolicy:
    inbound:
      rules:
        - application: team-dolly-lokal-app
          cluster: dev-gcp
        - application: testnav-oversikt-frontend
          cluster: dev-gcp
        - application: organisasjon-bestilling-service
          cluster: dev-gcp
    outbound:
      external:
        - host: testnav-modapp-ereg-proxy.dev-fss-pub.nais.io
  tokenx:
    enabled: true
  azure:
    application:
      allowAllUsers: true
      enabled: true
      tenant: nav.no
  liveness:
    path: /internal/isAlive
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  observability:
    logging:
      destinations:
        - id: elastic
    autoInstrumentation:
      enabled: true
      runtime: java
  readiness:
    path: /internal/isReady
    initialDelay: 4
    periodSeconds: 5
    failureThreshold: 500
  prometheus:
    enabled: true
    path: /internal/metrics
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      memory: 2048Mi
  ingresses:
    - "https://testnav-ereg-batch-status-service.intern.dev.nav.no"